templates/mssql/mssql-northwind-to-crdb.json
{"flowContents":{"identifier":"44f72bc7-38a2-35be-85c4-a87329988848","instanceIdentifier":"554e6a19-019d-1000-5963-0c8e63115d84","name":"mssql-northwind-to-crdb","comments":"","position":{"x":-736.0,"y":-528.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"b08adf49-9d80-3f6d-b960-d5aec814e4e0","instanceIdentifier":"55347aaa-019d-1000-3569-85f2d45295d8","name":"PutDatabaseRecord","comments":"","position":{"x":569.1999969482422,"y":-49.69999885559082},"type":"org.apache.nifi.processors.standard.PutDatabaseRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"put-db-record-allow-multiple-statements":"false","put-db-record-schema-name":"${destination_table_schema}","put-db-record-field-containing-sql":null,"put-db-record-unmatched-column-behavior":"Warn on Unmatched Columns","Delete Keys":null,"put-db-record-catalog-name":"${destination_table_catalog}","put-db-record-statement-type":"INSERT","put-db-record-update-keys":null,"put-db-record-quoted-identifiers":"false","put-db-record-unmatched-field-behavior":"Ignore Unmatched Fields","put-db-record-max-batch-size":"100","Database Dialect Service":null,"Data Record Path":null,"database-session-autocommit":"false","table-schema-cache-size":"100","put-db-record-quoted-table-identifiers":"false","Statement Type Record Path":null,"Column Name Translation Pattern":null,"put-db-record-translate-field-names":"true","put-db-record-dcbp-service":"fb0c0592-a601-33c4-bd3b-a095fae35d5c","put-db-record-query-timeout":"0 seconds","Column Name Translation Strategy":"REMOVE_UNDERSCORE","rollback-on-failure":"false","put-db-record-binary-format":"UTF-8","db-type":"PostgreSQL","put-db-record-table-name":"${destination_table_name}","put-db-record-record-reader":"41f232e5-daa2-3101-b8f3-d48c9dbb3d3c"},"propertyDescriptors":{"put-db-record-allow-multiple-statements":{"name":"put-db-record-allow-multiple-statements","displayName":"Allow Multiple SQL Statements","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-schema-name":{"name":"put-db-record-schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-field-containing-sql":{"name":"put-db-record-field-containing-sql","displayName":"Field Containing SQL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-column-behavior":{"name":"put-db-record-unmatched-column-behavior","displayName":"Unmatched Column Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Delete Keys":{"name":"Delete Keys","displayName":"Delete Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-catalog-name":{"name":"put-db-record-catalog-name","displayName":"Catalog Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-statement-type":{"name":"put-db-record-statement-type","displayName":"Statement Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-update-keys":{"name":"put-db-record-update-keys","displayName":"Update Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-identifiers":{"name":"put-db-record-quoted-identifiers","displayName":"Quote Column Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-unmatched-field-behavior":{"name":"put-db-record-unmatched-field-behavior","displayName":"Unmatched Field Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-max-batch-size":{"name":"put-db-record-max-batch-size","displayName":"Maximum Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Dialect Service":{"name":"Database Dialect Service","displayName":"Database Dialect Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Data Record Path":{"name":"Data Record Path","displayName":"Data Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"table-schema-cache-size":{"name":"table-schema-cache-size","displayName":"Table Schema Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-quoted-table-identifiers":{"name":"put-db-record-quoted-table-identifiers","displayName":"Quote Table Identifiers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Statement Type Record Path":{"name":"Statement Type Record Path","displayName":"Statement Type Record Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Pattern":{"name":"Column Name Translation Pattern","displayName":"Column Name Translation Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-translate-field-names":{"name":"put-db-record-translate-field-names","displayName":"Translate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-dcbp-service":{"name":"put-db-record-dcbp-service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"put-db-record-query-timeout":{"name":"put-db-record-query-timeout","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Column Name Translation Strategy":{"name":"Column Name Translation Strategy","displayName":"Column Name Translation Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-binary-format":{"name":"put-db-record-binary-format","displayName":"Binary String Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"db-type":{"name":"db-type","displayName":"Database Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-table-name":{"name":"put-db-record-table-name","displayName":"Table Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"put-db-record-record-reader":{"name":"put-db-record-record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"44f72bc7-38a2-35be-85c4-a87329988848"},{"identifier":"a9b61482-6869-3e41-a4f4-ab0fbc8cbba7","instanceIdentifier":"5532afbf-019d-1000-6a0b-3d6573712c29","name":"ExecuteSQL","comments":"","position":{"x":-94.80000305175781,"y":-33.69999885559082},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"esql-max-rows":"100","dbf-default-precision":"10","Max Wait Time":"0 seconds","SQL Query":"select * from [${db.table.schema}].[${db.table.name}]","Database Connection Pooling Service":"083a5efa-3974-3023-9b6d-f5b87d153067","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","dbf-normalize":"false","Content Output Strategy":"EMPTY"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL Query":{"name":"SQL Query","displayName":"SQL Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Output Strategy":{"name":"Content Output Strategy","displayName":"Content Output Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"44f72bc7-38a2-35be-85c4-a87329988848"},{"identifier":"4db73019-69df-345b-902c-ab8b3f6df298","instanceIdentifier":"5525f311-019d-1000-1d17-48ee6a603019","name":"LogMessage","comments":"","position":{"x":-736.0,"y":-320.0},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"log-message":null,"log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"44f72bc7-38a2-35be-85c4-a87329988848"},{"identifier":"c42789f8-4d00-3ee9-814c-09a9aee3e6e6","instanceIdentifier":"55080b6c-019d-1000-5481-87af266384d2","name":"UpdateAttribute","comments":"","position":{"x":-32.0,"y":-528.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.5.0"},"properties":{"destination_table_schema":"public","destination_table_name":"${db.table.name:toLower():replace(\" \",\"_\")}","Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","destination_table_catalog":"northwind","Stateful Variables Initial Value":null},"propertyDescriptors":{"destination_table_schema":{"name":"destination_table_schema","displayName":"destination_table_schema","identifiesControllerService":false,"sensitive":false,"dynamic":true},"destination_table_name":{"name":"destination_table_name","displayName":"destination_table_name","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"destination_table_catalog":{"name":"destination_table_catalog","displayName":"destination_table_catalog","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"44f72bc7-38a2-35be-85c4-a87329988848"},{"identifier":"9b10d7cb-58cf-3ec3-aa64-c7dbf6267c66","instanceIdentifier":"55387a0b-019d-1000-bdfe-97338f227a86","name":"LogAttribute","comments":"","position":{"x":9.199996948242188,"y":174.30000114440918},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"44f72bc7-38a2-35be-85c4-a87329988848"},{"identifier":"af4c1b07-7194-321d-84c4-576f91a198d7","instanceIdentifier":"55382188-019d-1000-8d51-3bb34622f810","name":"LogMessage","comments":"","position":{"x":705.1999969482422,"y":198.30000114440918},"type":"org.apache.nifi.processors.standard.LogMessage","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"log-message":null,"log-level":"info","log-prefix":null},"propertyDescriptors":{"log-message":{"name":"log-message","displayName":"Log message","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-level":{"name":"log-level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"log-prefix":{"name":"log-prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"44f72bc7-38a2-35be-85c4-a87329988848"},{"identifier":"daa25514-4ef1-3066-8330-83aaadc0e71c","instanceIdentifier":"55030e66-019d-1000-982c-954d182fba15","name":"ListDatabaseTables","comments":"","position":{"x":-720.0,"y":-528.0},"type":"org.apache.nifi.processors.standard.ListDatabaseTables","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"list-db-tables-db-connection":"083a5efa-3974-3023-9b6d-f5b87d153067","list-db-refresh-interval":"0 sec","list-db-tables-catalog":"Northwind","record-writer":null,"list-db-include-count":"false","list-db-tables-name-pattern":null,"list-db-tables-schema-pattern":"dbo","list-db-tables-types":"TABLE"},"propertyDescriptors":{"list-db-tables-db-connection":{"name":"list-db-tables-db-connection","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"list-db-refresh-interval":{"name":"list-db-refresh-interval","displayName":"Refresh Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"list-db-tables-catalog":{"name":"list-db-tables-catalog","displayName":"Catalog","identifiesControllerService":false,"sensitive":false,"dynamic":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"list-db-include-count":{"name":"list-db-include-count","displayName":"Include Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"list-db-tables-name-pattern":{"name":"list-db-tables-name-pattern","displayName":"Table Name Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"list-db-tables-schema-pattern":{"name":"list-db-tables-schema-pattern","displayName":"Schema Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"list-db-tables-types":{"name":"list-db-tables-types","displayName":"Table Types","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"1 min","schedulingStrategy":"TIMER_DRIVEN","executionNode":"PRIMARY","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"44f72bc7-38a2-35be-85c4-a87329988848"},{"identifier":"65173cca-d905-316e-a280-c765ed583961","instanceIdentifier":"55219089-019d-1000-819f-f577058deb0c","name":"PutSQL","comments":"","position":{"x":-736.0,"y":-48.0},"type":"org.apache.nifi.processors.standard.PutSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Support Fragmented Transactions":"true","putsql-sql-statement":null,"Transaction Timeout":null,"Batch Size":"1","Obtain Generated Keys":"false","JDBC Connection Pool":"fb0c0592-a601-33c4-bd3b-a095fae35d5c","database-session-autocommit":"false","rollback-on-failure":"false"},"propertyDescriptors":{"Support Fragmented Transactions":{"name":"Support Fragmented Transactions","displayName":"Support Fragmented Transactions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"putsql-sql-statement":{"name":"putsql-sql-statement","displayName":"SQL Statement","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transaction Timeout":{"name":"Transaction Timeout","displayName":"Transaction Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Obtain Generated Keys":{"name":"Obtain Generated Keys","displayName":"Obtain Generated Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"44f72bc7-38a2-35be-85c4-a87329988848"},{"identifier":"0a285ece-0d65-39a9-98a0-d5d724f4f649","instanceIdentifier":"550bbb28-019d-1000-d57d-74103cc59874","name":"ExecuteSQL","comments":"","position":{"x":632.0,"y":-520.0},"type":"org.apache.nifi.processors.standard.ExecuteSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"esql-max-rows":"0","dbf-default-precision":"10","Max Wait Time":"0 seconds","SQL Query":"select *\nfrom INFORMATION_SCHEMA.COLUMNS\nwhere TABLE_CATALOG = '${db.table.catalog}'\n  and TABLE_SCHEMA = '${db.table.schema}'\n  and TABLE_NAME = '${db.table.name}'\norder by ORDINAL_POSITION","Database Connection Pooling Service":"083a5efa-3974-3023-9b6d-f5b87d153067","sql-post-query":null,"esql-auto-commit":"true","dbf-user-logical-types":"false","dbf-default-scale":"0","sql-pre-query":null,"compression-format":"NONE","esql-output-batch-size":"0","esql-fetch-size":"0","dbf-normalize":"false","Content Output Strategy":"EMPTY"},"propertyDescriptors":{"esql-max-rows":{"name":"esql-max-rows","displayName":"Max Rows Per Flow File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SQL Query":{"name":"SQL Query","displayName":"SQL Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection Pooling Service":{"name":"Database Connection Pooling Service","displayName":"Database Connection Pooling Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sql-post-query":{"name":"sql-post-query","displayName":"SQL Post-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-auto-commit":{"name":"esql-auto-commit","displayName":"Set Auto Commit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-user-logical-types":{"name":"dbf-user-logical-types","displayName":"Use Avro Logical Types","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sql-pre-query":{"name":"sql-pre-query","displayName":"SQL Pre-Query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-output-batch-size":{"name":"esql-output-batch-size","displayName":"Output Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"esql-fetch-size":{"name":"esql-fetch-size","displayName":"Fetch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbf-normalize":{"name":"dbf-normalize","displayName":"Normalize Table/Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Content Output Strategy":{"name":"Content Output Strategy","displayName":"Content Output Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"44f72bc7-38a2-35be-85c4-a87329988848"},{"identifier":"1ec3f0b6-f98c-3d89-966f-67437b0580f1","instanceIdentifier":"5516d17e-019d-1000-8992-19df04e60cd9","name":"ConvertRecord","comments":"","position":{"x":600.0,"y":-264.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"95481fe2-28f2-3054-9ae3-7a7429109c47","Record Reader":"41f232e5-daa2-3101-b8f3-d48c9dbb3d3c"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"44f72bc7-38a2-35be-85c4-a87329988848"},{"identifier":"0179628a-fadd-3f12-93c4-3fe332564675","instanceIdentifier":"551f4d57-019d-1000-3d5d-d8d9c4e4681f","name":"ExecuteScript","comments":"","position":{"x":-56.0,"y":-312.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"2.5.0"},"properties":{"Script File":null,"Script Engine":"Groovy","Script Body":"import groovy.json.JsonSlurper\nimport org.apache.nifi.processor.io.InputStreamCallback\nimport org.apache.nifi.processor.io.OutputStreamCallback\nimport java.nio.charset.StandardCharsets\n\ndef flowFile = session.get()\nif (flowFile == null) {\n    return\n}\n\ndef content = new StringBuilder()\n\nsession.read(flowFile, { inputStream ->\n    content.append(inputStream.getText(StandardCharsets.UTF_8.name()))\n} as InputStreamCallback)\n\ndef rows = new JsonSlurper().parseText(content.toString())\n\nString normalizeIdentifier(String name) {\n    if (name == null) {\n        return \"unnamed_column\"\n    }\n\n    String s = name.trim().toLowerCase()\n    StringBuilder out = new StringBuilder()\n    boolean lastUnderscore = false\n\n    for (int i = 0; i < s.length(); i++) {\n        char c = s.charAt(i)\n\n        boolean isAlphaNum =\n            (c >= 'a' && c <= 'z') ||\n            (c >= '0' && c <= '9')\n\n        if (isAlphaNum) {\n            out.append(c)\n            lastUnderscore = false\n        } else {\n            if (!lastUnderscore) {\n                out.append('_')\n                lastUnderscore = true\n            }\n        }\n    }\n\n    String result = out.toString()\n\n    while (result.startsWith(\"_\")) {\n        result = result.substring(1)\n    }\n    while (result.endsWith(\"_\")) {\n        result = result.substring(0, result.length() - 1)\n    }\n\n    if (result == null || result.length() == 0) {\n        result = \"unnamed_column\"\n    }\n\n    return result\n}\n\nInteger safeInt(def value) {\n    if (value == null) {\n        return null\n    }\n    String s = value.toString().trim()\n    if (s.length() == 0) {\n        return null\n    }\n    try {\n        return Integer.parseInt(s)\n    } catch (Exception e) {\n        return null\n    }\n}\n\nString mapType(def row) {\n    def dataType = (row.DATA_TYPE ?: \"\").toString().toLowerCase()\n    def precision = safeInt(row.NUMERIC_PRECISION)\n    def scale = safeInt(row.NUMERIC_SCALE)\n\n    switch (dataType) {\n        case [\"tinyint\", \"smallint\", \"int\", \"bigint\"]:\n            return \"INT8\"\n        case \"bit\":\n            return \"BOOL\"\n        case [\"decimal\", \"numeric\"]:\n            if (precision != null && scale != null) {\n                return \"DECIMAL(${precision},${scale})\"\n            } else if (precision != null) {\n                return \"DECIMAL(${precision})\"\n            } else {\n                return \"DECIMAL\"\n            }\n        case \"money\":\n            return \"DECIMAL(19,4)\"\n        case \"smallmoney\":\n            return \"DECIMAL(10,4)\"\n        case [\"float\", \"real\"]:\n            return \"FLOAT8\"\n        case [\"char\", \"nchar\", \"varchar\", \"nvarchar\", \"text\", \"ntext\"]:\n            return \"STRING\"\n        case [\"binary\", \"varbinary\", \"image\", \"rowversion\", \"timestamp\"]:\n            return \"BYTES\"\n        case \"date\":\n            return \"DATE\"\n        case [\"datetime\", \"datetime2\", \"smalldatetime\"]:\n            return \"TIMESTAMP\"\n        case \"datetimeoffset\":\n            return \"TIMESTAMPTZ\"\n        case \"time\":\n            return \"TIME\"\n        case \"uniqueidentifier\":\n            return \"UUID\"\n        default:\n            return \"STRING\"\n    }\n}\n\nif (!(rows instanceof List)) {\n    rows = [rows]\n}\n\nrows = rows.sort { row ->\n    safeInt(row.ORDINAL_POSITION) ?: 0\n}\n\ndef destCatalog = flowFile.getAttribute(\"destination_table_catalog\") ?: \"northwind\"\ndef destSchema = flowFile.getAttribute(\"destination_table_schema\") ?: \"public\"\ndef destTable = flowFile.getAttribute(\"destination_table_name\") ?: \"unknown_table\"\n\nif (destTable.contains(\"=\")) {\n    destTable = destTable.split(\"=\", 2)[1].trim()\n}\n\ndestCatalog = normalizeIdentifier(destCatalog)\ndestSchema = normalizeIdentifier(destSchema)\ndestTable = normalizeIdentifier(destTable)\n\ndef columnLines = []\ndef seenColumns = [] as Set\n\nrows.each { row ->\n    def srcCol = row.COLUMN_NAME?.toString()\n    def colName = normalizeIdentifier(srcCol)\n\n    def baseColName = colName\n    def suffix = 2\n    while (seenColumns.contains(colName)) {\n        colName = baseColName + \"_\" + suffix\n        suffix++\n    }\n    seenColumns.add(colName)\n\n    def crdbType = mapType(row)\n    def nullable = ((row.IS_NULLABLE ?: \"\").toString().toUpperCase() == \"YES\")\n\n    def line = \"    \" + colName + \" \" + crdbType\n    if (!nullable) {\n        line += \" NOT NULL\"\n    }\n\n    columnLines << line\n}\n\nif (columnLines.isEmpty()) {\n    flowFile = session.putAttribute(flowFile, \"ddl.error\", \"No columns found in input JSON\")\n    session.transfer(flowFile, REL_FAILURE)\n    return\n}\n\ndef ddl = \"CREATE TABLE IF NOT EXISTS \" +\n    destCatalog + \".\" + destSchema + \".\" + destTable + \" (\\n\" +\n    columnLines.join(\",\\n\") + \"\\n);\"\n\nflowFile = session.write(flowFile, { outputStream ->\n    outputStream.write(ddl.getBytes(StandardCharsets.UTF_8))\n} as OutputStreamCallback)\n\nflowFile = session.putAttribute(flowFile, \"mime.type\", \"text/plain\")\nsession.transfer(flowFile, REL_SUCCESS)","Module Directory":null},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"44f72bc7-38a2-35be-85c4-a87329988848"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"fcb53ab8-6531-3953-b0aa-83168efa6498","instanceIdentifier":"5526153d-019d-1000-76cc-26b9018445cb","name":"","source":{"id":"65173cca-d905-316e-a280-c765ed583961","type":"PROCESSOR","groupId":"44f72bc7-38a2-35be-85c4-a87329988848","name":"PutSQL","comments":"","instanceIdentifier":"55219089-019d-1000-819f-f577058deb0c"},"destination":{"id":"4db73019-69df-345b-902c-ab8b3f6df298","type":"PROCESSOR","groupId":"44f72bc7-38a2-35be-85c4-a87329988848","name":"LogMessage","comments":"","instanceIdentifier":"5525f311-019d-1000-1d17-48ee6a603019"},"labelIndex":0,"zIndex":6,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"44f72bc7-38a2-35be-85c4-a87329988848"},{"identifier":"2cc36588-67f8-3360-b5b3-578a72ed8fe5","instanceIdentifier":"55263972-019d-1000-f101-1584350cd6f2","name":"","source":{"id":"65173cca-d905-316e-a280-c765ed583961","type":"PROCESSOR","groupId":"44f72bc7-38a2-35be-85c4-a87329988848","name":"PutSQL","comments":"","instanceIdentifier":"55219089-019d-1000-819f-f577058deb0c"},"destination":{"id":"65173cca-d905-316e-a280-c765ed583961","type":"PROCESSOR","groupId":"44f72bc7-38a2-35be-85c4-a87329988848","name":"PutSQL","comments":"","instanceIdentifier":"55219089-019d-1000-819f-f577058deb0c"},"labelIndex":1,"zIndex":7,"selectedRelationships":["retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-432.0,"y":112.0},{"x":-472.0,"y":184.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"44f72bc7-38a2-35be-85c4-a87329988848"},{"identifier":"a83939ba-adc3-3652-ad06-7f580c93fbc4","instanceIdentifier":"5533a5f8-019d-1000-3c36-acc7c7553690","name":"","source":{"id":"65173cca-d905-316e-a280-c765ed583961","type":"PROCESSOR","groupId":"44f72bc7-38a2-35be-85c4-a87329988848","name":"PutSQL","comments":"","instanceIdentifier":"55219089-019d-1000-819f-f577058deb0c"},"destination":{"id":"a9b61482-6869-3e41-a4f4-ab0fbc8cbba7","type":"PROCESSOR","groupId":"44f72bc7-38a2-35be-85c4-a87329988848","name":"ExecuteSQL","comments":"","instanceIdentifier":"5532afbf-019d-1000-6a0b-3d6573712c29"},"labelIndex":0,"zIndex":8,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"44f72bc7-38a2-35be-85c4-a87329988848"},{"identifier":"664ffb9a-dc5f-3370-99e1-51a433530cff","instanceIdentifier":"5537e48a-019d-1000-91ee-acaff73fbdd9","name":"","source":{"id":"b08adf49-9d80-3f6d-b960-d5aec814e4e0","type":"PROCESSOR","groupId":"44f72bc7-38a2-35be-85c4-a87329988848","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"55347aaa-019d-1000-3569-85f2d45295d8"},"destination":{"id":"b08adf49-9d80-3f6d-b960-d5aec814e4e0","type":"PROCESSOR","groupId":"44f72bc7-38a2-35be-85c4-a87329988848","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"55347aaa-019d-1000-3569-85f2d45295d8"},"labelIndex":0,"zIndex":10,"selectedRelationships":["retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1065.1999969482422,"y":-9.69999885559082},{"x":1038.1999969482422,"y":39.30000114440918}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"44f72bc7-38a2-35be-85c4-a87329988848"},{"identifier":"ea3b3969-7e14-3ba9-991a-d2f29f28a58a","instanceIdentifier":"55207a0d-019d-1000-a848-10f8217fe975","name":"","source":{"id":"1ec3f0b6-f98c-3d89-966f-67437b0580f1","type":"PROCESSOR","groupId":"44f72bc7-38a2-35be-85c4-a87329988848","name":"ConvertRecord","comments":"","instanceIdentifier":"5516d17e-019d-1000-8992-19df04e60cd9"},"destination":{"id":"0179628a-fadd-3f12-93c4-3fe332564675","type":"PROCESSOR","groupId":"44f72bc7-38a2-35be-85c4-a87329988848","name":"ExecuteScript","comments":"","instanceIdentifier":"551f4d57-019d-1000-3d5d-d8d9c4e4681f"},"labelIndex":0,"zIndex":4,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"44f72bc7-38a2-35be-85c4-a87329988848"},{"identifier":"d928b16f-a12b-3c4f-a509-8c2fd709c94a","instanceIdentifier":"55385067-019d-1000-164e-e9677de8e7d0","name":"","source":{"id":"af4c1b07-7194-321d-84c4-576f91a198d7","type":"PROCESSOR","groupId":"44f72bc7-38a2-35be-85c4-a87329988848","name":"LogMessage","comments":"","instanceIdentifier":"55382188-019d-1000-8d51-3bb34622f810"},"destination":{"id":"b08adf49-9d80-3f6d-b960-d5aec814e4e0","type":"PROCESSOR","groupId":"44f72bc7-38a2-35be-85c4-a87329988848","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"55347aaa-019d-1000-3569-85f2d45295d8"},"labelIndex":0,"zIndex":12,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":528.0,"y":312.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"44f72bc7-38a2-35be-85c4-a87329988848"},{"identifier":"b3b257b1-fefe-3a6d-b83b-8541f55fe64f","instanceIdentifier":"5525a379-019d-1000-a233-1361a82e0416","name":"","source":{"id":"0179628a-fadd-3f12-93c4-3fe332564675","type":"PROCESSOR","groupId":"44f72bc7-38a2-35be-85c4-a87329988848","name":"ExecuteScript","comments":"","instanceIdentifier":"551f4d57-019d-1000-3d5d-d8d9c4e4681f"},"destination":{"id":"65173cca-d905-316e-a280-c765ed583961","type":"PROCESSOR","groupId":"44f72bc7-38a2-35be-85c4-a87329988848","name":"PutSQL","comments":"","instanceIdentifier":"55219089-019d-1000-819f-f577058deb0c"},"labelIndex":0,"zIndex":5,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"44f72bc7-38a2-35be-85c4-a87329988848"},{"identifier":"61226f03-059a-381a-9ec5-ea9a583b4ae4","instanceIdentifier":"5538414b-019d-1000-1d5d-b1faba908860","name":"","source":{"id":"b08adf49-9d80-3f6d-b960-d5aec814e4e0","type":"PROCESSOR","groupId":"44f72bc7-38a2-35be-85c4-a87329988848","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"55347aaa-019d-1000-3569-85f2d45295d8"},"destination":{"id":"af4c1b07-7194-321d-84c4-576f91a198d7","type":"PROCESSOR","groupId":"44f72bc7-38a2-35be-85c4-a87329988848","name":"LogMessage","comments":"","instanceIdentifier":"55382188-019d-1000-8d51-3bb34622f810"},"labelIndex":0,"zIndex":11,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"44f72bc7-38a2-35be-85c4-a87329988848"},{"identifier":"71af5e9a-bd20-3bcd-aa81-e8fff35b0e50","instanceIdentifier":"550e45e5-019d-1000-1083-33b540dcaae5","name":"","source":{"id":"c42789f8-4d00-3ee9-814c-09a9aee3e6e6","type":"PROCESSOR","groupId":"44f72bc7-38a2-35be-85c4-a87329988848","name":"UpdateAttribute","comments":"","instanceIdentifier":"55080b6c-019d-1000-5481-87af266384d2"},"destination":{"id":"0a285ece-0d65-39a9-98a0-d5d724f4f649","type":"PROCESSOR","groupId":"44f72bc7-38a2-35be-85c4-a87329988848","name":"ExecuteSQL","comments":"","instanceIdentifier":"550bbb28-019d-1000-d57d-74103cc59874"},"labelIndex":0,"zIndex":2,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"44f72bc7-38a2-35be-85c4-a87329988848"},{"identifier":"c3a37827-abb3-3bec-b8cb-0c2d201646f9","instanceIdentifier":"5519ac56-019d-1000-d5fc-07d3bbc3e7f6","name":"","source":{"id":"0a285ece-0d65-39a9-98a0-d5d724f4f649","type":"PROCESSOR","groupId":"44f72bc7-38a2-35be-85c4-a87329988848","name":"ExecuteSQL","comments":"","instanceIdentifier":"550bbb28-019d-1000-d57d-74103cc59874"},"destination":{"id":"1ec3f0b6-f98c-3d89-966f-67437b0580f1","type":"PROCESSOR","groupId":"44f72bc7-38a2-35be-85c4-a87329988848","name":"ConvertRecord","comments":"","instanceIdentifier":"5516d17e-019d-1000-8992-19df04e60cd9"},"labelIndex":0,"zIndex":3,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"44f72bc7-38a2-35be-85c4-a87329988848"},{"identifier":"150c3381-788e-386c-bd2d-f1056efe228f","instanceIdentifier":"553712b4-019d-1000-5c54-84703efb74cc","name":"","source":{"id":"a9b61482-6869-3e41-a4f4-ab0fbc8cbba7","type":"PROCESSOR","groupId":"44f72bc7-38a2-35be-85c4-a87329988848","name":"ExecuteSQL","comments":"","instanceIdentifier":"5532afbf-019d-1000-6a0b-3d6573712c29"},"destination":{"id":"b08adf49-9d80-3f6d-b960-d5aec814e4e0","type":"PROCESSOR","groupId":"44f72bc7-38a2-35be-85c4-a87329988848","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"55347aaa-019d-1000-3569-85f2d45295d8"},"labelIndex":0,"zIndex":9,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"44f72bc7-38a2-35be-85c4-a87329988848"},{"identifier":"4257e89c-e34a-3d55-bc4a-a8ba8f24d262","instanceIdentifier":"55097637-019d-1000-eea1-ffe1c7e2c0b5","name":"","source":{"id":"daa25514-4ef1-3066-8330-83aaadc0e71c","type":"PROCESSOR","groupId":"44f72bc7-38a2-35be-85c4-a87329988848","name":"ListDatabaseTables","comments":"","instanceIdentifier":"55030e66-019d-1000-982c-954d182fba15"},"destination":{"id":"c42789f8-4d00-3ee9-814c-09a9aee3e6e6","type":"PROCESSOR","groupId":"44f72bc7-38a2-35be-85c4-a87329988848","name":"UpdateAttribute","comments":"","instanceIdentifier":"55080b6c-019d-1000-5481-87af266384d2"},"labelIndex":0,"zIndex":1,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"44f72bc7-38a2-35be-85c4-a87329988848"},{"identifier":"63d06444-285a-3de8-a312-5d69d39aa59f","instanceIdentifier":"55389f4b-019d-1000-3f3a-c9f589951f9f","name":"","source":{"id":"b08adf49-9d80-3f6d-b960-d5aec814e4e0","type":"PROCESSOR","groupId":"44f72bc7-38a2-35be-85c4-a87329988848","name":"PutDatabaseRecord","comments":"","instanceIdentifier":"55347aaa-019d-1000-3569-85f2d45295d8"},"destination":{"id":"9b10d7cb-58cf-3ec3-aa64-c7dbf6267c66","type":"PROCESSOR","groupId":"44f72bc7-38a2-35be-85c4-a87329988848","name":"LogAttribute","comments":"","instanceIdentifier":"55387a0b-019d-1000-bdfe-97338f227a86"},"labelIndex":0,"zIndex":13,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"44f72bc7-38a2-35be-85c4-a87329988848"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"41f232e5-daa2-3101-b8f3-d48c9dbb3d3c","instanceIdentifier":"55170e6f-019d-1000-6394-2978b2d69a8f","name":"AvroReader","comments":"","type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.5.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"embedded-avro-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.5.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"554e6a19-019d-1000-5963-0c8e63115d84"},{"identifier":"fb0c0592-a601-33c4-bd3b-a095fae35d5c","instanceIdentifier":"5522196e-019d-1000-16ae-984c0f4ac60b","name":"DBCPConnectionPoolCRDBLocal","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.5.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","Max Total Connections":"8","dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://host.docker.internal:26257/northwind?sslmode=disable","dbcp-time-between-eviction-runs":"-1","Database User":"root","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/opt/nifi/nifi-current/lib/postgresql-42.7.10.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","URL","FILE"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.5.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"554e6a19-019d-1000-5963-0c8e63115d84"},{"identifier":"083a5efa-3974-3023-9b6d-f5b87d153067","instanceIdentifier":"5503b999-019d-1000-1aa2-bd339f581016","name":"DBCPConnectionPoolNorthwindMSSQL","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.5.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"com.microsoft.sqlserver.jdbc.SQLServerDriver","dbcp-min-evictable-idle-time":"30 mins","Max Total Connections":"8","dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:sqlserver://;serverName=dlupinski-sandbox-sqlsvr.public.d4ebc4874999.database.windows.net;port=3342;databaseName=northwind","dbcp-time-between-eviction-runs":"-1","Database User":"duane","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/opt/nifi/nifi-current/lib/mssql-jdbc-13.4.0.jre11.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","URL","FILE"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.5.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"554e6a19-019d-1000-5963-0c8e63115d84"},{"identifier":"95481fe2-28f2-3054-9ae3-7a7429109c47","instanceIdentifier":"5517ec5d-019d-1000-2519-18ce35f285b0","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.5.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.5.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"554e6a19-019d-1000-5963-0c8e63115d84"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}