templates/Redo.json
{"flowContents":{"identifier":"905db770-acc0-328a-0000-00007b5d3977","instanceIdentifier":"b0d90a33-b6fb-3ca7-adf4-5482dbed598f","name":"Redo","comments":"","position":{"x":-32.0,"y":-336.0},"processGroups":[{"identifier":"e133809b-0dfe-314d-bb1b-f2d498b9bbfa","instanceIdentifier":"4f24d8f7-afb5-3e83-b4cc-a71129efcb68","name":"Store Mongo Secrets","comments":"","position":{"x":-1408.0,"y":-320.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"40b4e658-9f69-3496-ffff-ffffab2aed17","instanceIdentifier":"00d6ba4f-a8c6-3588-bc4a-36200f00b424","name":"HandleHttpResponse Mongo Migration Valid","comments":"","position":{"x":-1768.0,"y":432.0},"type":"org.apache.nifi.processors.standard.HandleHttpResponse","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"HTTP Context Map":"f61030af-1c54-37fb-bd6b-2be5250146ba","Attributes to add to the HTTP Response (Regex)":null,"HTTP Status Code":"200"},"propertyDescriptors":{"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Attributes to add to the HTTP Response (Regex)":{"name":"Attributes to add to the HTTP Response (Regex)","displayName":"Attributes to add to the HTTP Response (Regex)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Status Code":{"name":"HTTP Status Code","displayName":"HTTP Status Code","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e133809b-0dfe-314d-bb1b-f2d498b9bbfa"},{"identifier":"c5c373b0-8b5c-3ce2-ffff-ffffc5ec2442","instanceIdentifier":"0bd11a55-f44d-35a3-9228-bd280552e4a3","name":"HandleHttpResponse Mongo Secret Failure","comments":"","position":{"x":-1024.0,"y":-272.0},"type":"org.apache.nifi.processors.standard.HandleHttpResponse","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"HTTP Context Map":"f61030af-1c54-37fb-bd6b-2be5250146ba","Attributes to add to the HTTP Response (Regex)":null,"HTTP Status Code":"500"},"propertyDescriptors":{"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Attributes to add to the HTTP Response (Regex)":{"name":"Attributes to add to the HTTP Response (Regex)","displayName":"Attributes to add to the HTTP Response (Regex)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Status Code":{"name":"HTTP Status Code","displayName":"HTTP Status Code","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e133809b-0dfe-314d-bb1b-f2d498b9bbfa"},{"identifier":"7ddddd0f-ee2d-3515-863a-48bfec131510","instanceIdentifier":"3c15a2d9-ffc2-390d-902b-856bda23c189","name":"PutDistributedMapCache Mongo Secret","comments":"","position":{"x":-1768.0,"y":200.0},"type":"org.apache.nifi.processors.standard.PutDistributedMapCache","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Cache Entry Identifier":"${secret.key}","Cache update strategy":"replace","Distributed Cache Service":"9e807d90-767c-3a91-8c0a-0209e078cfad","Max cache entry size":"1 MB"},"propertyDescriptors":{"Cache Entry Identifier":{"name":"Cache Entry Identifier","displayName":"Cache Entry Identifier","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache update strategy":{"name":"Cache update strategy","displayName":"Cache update strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Distributed Cache Service":{"name":"Distributed Cache Service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Max cache entry size":{"name":"Max cache entry size","displayName":"Max cache entry size","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e133809b-0dfe-314d-bb1b-f2d498b9bbfa"},{"identifier":"de9c5d0e-647e-3fa9-ffff-ffffd9a9c239","instanceIdentifier":"18bb0a70-097f-3a12-a07a-dd5224a4a50a","name":"LogAttribute Store Mongo Secret","comments":"","position":{"x":-1024.0,"y":-40.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e133809b-0dfe-314d-bb1b-f2d498b9bbfa"},{"identifier":"1cb1b6b9-4495-32bf-a734-fdd1754edfc5","instanceIdentifier":"efe43acf-5d30-3461-9c50-5c4056852b87","name":"ReplaceText Mongo Secret","comments":"","position":{"x":-1768.0,"y":-40.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"${secret.value}","Evaluation Mode":"Entire text","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Always Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e133809b-0dfe-314d-bb1b-f2d498b9bbfa"},{"identifier":"67e907b1-0e99-300b-ffff-ffff89969c2d","instanceIdentifier":"62478b9c-f4a7-3836-bbb9-8685b208b351","name":"EvaluateJsonPath Parse Mongo Secret Parameters","comments":"","position":{"x":-1768.0,"y":-272.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"auto-detect","Null Value Representation":"empty string","secret.key":"$.key","secret.value":"$.value","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"secret.key":{"name":"secret.key","displayName":"secret.key","identifiesControllerService":false,"sensitive":false,"dynamic":true},"secret.value":{"name":"secret.value","displayName":"secret.value","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e133809b-0dfe-314d-bb1b-f2d498b9bbfa"},{"identifier":"21a922e3-3fee-3ed3-ffff-ffff8653c656","instanceIdentifier":"825be783-0185-3f07-bd59-913b990948eb","name":"HandleHttpRequest Mongo Secrets","comments":"","position":{"x":-1768.0,"y":-504.0},"type":"org.apache.nifi.processors.standard.HandleHttpRequest","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"multipart-request-max-size":"1 MB","parameters-to-attributes":null,"Allow POST":"true","Hostname":null,"Default URL Character Set":"UTF-8","Allow DELETE":"false","Request Header Maximum Size":"8 KB","Maximum Threads":"200","HTTP Protocols":"HTTP_1_1","Additional HTTP Methods":null,"container-queue-size":"50","HTTP Context Map":"f61030af-1c54-37fb-bd6b-2be5250146ba","multipart-read-buffer-size":"512 KB","SSL Context Service":"1fa7aab3-ec7d-32ba-8001-0f1327095c5a","Allow OPTIONS":"false","Allowed Paths":"/secrets","Allow GET":"false","Allow HEAD":"false","Listening Port":"8889","Client Authentication":"Need Authentication","Allow PUT":"false"},"propertyDescriptors":{"multipart-request-max-size":{"name":"multipart-request-max-size","displayName":"Multipart Request Max Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"parameters-to-attributes":{"name":"parameters-to-attributes","displayName":"Parameters to Attributes List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow POST":{"name":"Allow POST","displayName":"Allow POST","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Hostname":{"name":"Hostname","displayName":"Hostname","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Default URL Character Set":{"name":"Default URL Character Set","displayName":"Default URL Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow DELETE":{"name":"Allow DELETE","displayName":"Allow DELETE","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Maximum Size":{"name":"Request Header Maximum Size","displayName":"Request Header Maximum Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Threads":{"name":"Maximum Threads","displayName":"Maximum Threads","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Protocols":{"name":"HTTP Protocols","displayName":"HTTP Protocols","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Additional HTTP Methods":{"name":"Additional HTTP Methods","displayName":"Additional HTTP Methods","identifiesControllerService":false,"sensitive":false,"dynamic":false},"container-queue-size":{"name":"container-queue-size","displayName":"Container Queue Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","identifiesControllerService":true,"sensitive":false,"dynamic":false},"multipart-read-buffer-size":{"name":"multipart-read-buffer-size","displayName":"Multipart Read Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Allow OPTIONS":{"name":"Allow OPTIONS","displayName":"Allow OPTIONS","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allowed Paths":{"name":"Allowed Paths","displayName":"Allowed Paths","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow GET":{"name":"Allow GET","displayName":"Allow GET","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow HEAD":{"name":"Allow HEAD","displayName":"Allow HEAD","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Listening Port":{"name":"Listening Port","displayName":"Listening Port","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Client Authentication":{"name":"Client Authentication","displayName":"Client Authentication","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow PUT":{"name":"Allow PUT","displayName":"Allow PUT","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e133809b-0dfe-314d-bb1b-f2d498b9bbfa"},{"identifier":"5e7eb1bf-e371-32b7-ffff-ffffc5ec2442","instanceIdentifier":"1012aa9f-04a4-3d85-9f1e-0b512d4049e8","name":"HandleHttpResponse Mongo Secret Invalid","comments":"","position":{"x":-1024.0,"y":-504.0},"type":"org.apache.nifi.processors.standard.HandleHttpResponse","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"HTTP Context Map":"f61030af-1c54-37fb-bd6b-2be5250146ba","Attributes to add to the HTTP Response (Regex)":null,"HTTP Status Code":"400"},"propertyDescriptors":{"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Attributes to add to the HTTP Response (Regex)":{"name":"Attributes to add to the HTTP Response (Regex)","displayName":"Attributes to add to the HTTP Response (Regex)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Status Code":{"name":"HTTP Status Code","displayName":"HTTP Status Code","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"e133809b-0dfe-314d-bb1b-f2d498b9bbfa"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"1fc46e7e-de83-3a39-9958-1d0fb4f7a937","instanceIdentifier":"e610a76d-d1e2-30df-91f6-b54a423f0682","name":"","source":{"id":"1cb1b6b9-4495-32bf-a734-fdd1754edfc5","type":"PROCESSOR","groupId":"e133809b-0dfe-314d-bb1b-f2d498b9bbfa","name":"ReplaceText Mongo Secret","comments":"","instanceIdentifier":"efe43acf-5d30-3461-9c50-5c4056852b87"},"destination":{"id":"de9c5d0e-647e-3fa9-ffff-ffffd9a9c239","type":"PROCESSOR","groupId":"e133809b-0dfe-314d-bb1b-f2d498b9bbfa","name":"LogAttribute Store Mongo Secret","comments":"","instanceIdentifier":"18bb0a70-097f-3a12-a07a-dd5224a4a50a"},"labelIndex":0,"zIndex":5,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e133809b-0dfe-314d-bb1b-f2d498b9bbfa"},{"identifier":"fb7be41a-ba36-3fe9-86c5-59da8564f030","instanceIdentifier":"fa8b5e63-fa99-380b-a4b8-64eed00a1831","name":"","source":{"id":"67e907b1-0e99-300b-ffff-ffff89969c2d","type":"PROCESSOR","groupId":"e133809b-0dfe-314d-bb1b-f2d498b9bbfa","name":"EvaluateJsonPath Parse Mongo Secret Parameters","comments":"","instanceIdentifier":"62478b9c-f4a7-3836-bbb9-8685b208b351"},"destination":{"id":"c5c373b0-8b5c-3ce2-ffff-ffffc5ec2442","type":"PROCESSOR","groupId":"e133809b-0dfe-314d-bb1b-f2d498b9bbfa","name":"HandleHttpResponse Mongo Secret Failure","comments":"","instanceIdentifier":"0bd11a55-f44d-35a3-9228-bd280552e4a3"},"labelIndex":0,"zIndex":2,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e133809b-0dfe-314d-bb1b-f2d498b9bbfa"},{"identifier":"8da7d154-3945-3073-9502-c7fca17e640a","instanceIdentifier":"e6ae5535-b76a-329f-bb28-adc7868db26a","name":"","source":{"id":"1cb1b6b9-4495-32bf-a734-fdd1754edfc5","type":"PROCESSOR","groupId":"e133809b-0dfe-314d-bb1b-f2d498b9bbfa","name":"ReplaceText Mongo Secret","comments":"","instanceIdentifier":"efe43acf-5d30-3461-9c50-5c4056852b87"},"destination":{"id":"7ddddd0f-ee2d-3515-863a-48bfec131510","type":"PROCESSOR","groupId":"e133809b-0dfe-314d-bb1b-f2d498b9bbfa","name":"PutDistributedMapCache Mongo Secret","comments":"","instanceIdentifier":"3c15a2d9-ffc2-390d-902b-856bda23c189"},"labelIndex":0,"zIndex":6,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e133809b-0dfe-314d-bb1b-f2d498b9bbfa"},{"identifier":"01c07dfb-c86e-3626-91c7-797ec61280e1","instanceIdentifier":"3baafba4-df18-3c8b-bed0-de2a7a28492b","name":"","source":{"id":"7ddddd0f-ee2d-3515-863a-48bfec131510","type":"PROCESSOR","groupId":"e133809b-0dfe-314d-bb1b-f2d498b9bbfa","name":"PutDistributedMapCache Mongo Secret","comments":"","instanceIdentifier":"3c15a2d9-ffc2-390d-902b-856bda23c189"},"destination":{"id":"de9c5d0e-647e-3fa9-ffff-ffffd9a9c239","type":"PROCESSOR","groupId":"e133809b-0dfe-314d-bb1b-f2d498b9bbfa","name":"LogAttribute Store Mongo Secret","comments":"","instanceIdentifier":"18bb0a70-097f-3a12-a07a-dd5224a4a50a"},"labelIndex":0,"zIndex":7,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e133809b-0dfe-314d-bb1b-f2d498b9bbfa"},{"identifier":"cecb1962-baf9-3c24-a3e2-cce956e1ba27","instanceIdentifier":"bfd705d9-8c82-3b8e-aecf-76056e56a898","name":"","source":{"id":"7ddddd0f-ee2d-3515-863a-48bfec131510","type":"PROCESSOR","groupId":"e133809b-0dfe-314d-bb1b-f2d498b9bbfa","name":"PutDistributedMapCache Mongo Secret","comments":"","instanceIdentifier":"3c15a2d9-ffc2-390d-902b-856bda23c189"},"destination":{"id":"40b4e658-9f69-3496-ffff-ffffab2aed17","type":"PROCESSOR","groupId":"e133809b-0dfe-314d-bb1b-f2d498b9bbfa","name":"HandleHttpResponse Mongo Migration Valid","comments":"","instanceIdentifier":"00d6ba4f-a8c6-3588-bc4a-36200f00b424"},"labelIndex":0,"zIndex":8,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e133809b-0dfe-314d-bb1b-f2d498b9bbfa"},{"identifier":"9d9accb8-835d-3379-804a-7d12cdc8cefc","instanceIdentifier":"2361892d-7ab8-3eb2-9d0e-ff493439a6a9","name":"","source":{"id":"67e907b1-0e99-300b-ffff-ffff89969c2d","type":"PROCESSOR","groupId":"e133809b-0dfe-314d-bb1b-f2d498b9bbfa","name":"EvaluateJsonPath Parse Mongo Secret Parameters","comments":"","instanceIdentifier":"62478b9c-f4a7-3836-bbb9-8685b208b351"},"destination":{"id":"1cb1b6b9-4495-32bf-a734-fdd1754edfc5","type":"PROCESSOR","groupId":"e133809b-0dfe-314d-bb1b-f2d498b9bbfa","name":"ReplaceText Mongo Secret","comments":"","instanceIdentifier":"efe43acf-5d30-3461-9c50-5c4056852b87"},"labelIndex":0,"zIndex":4,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e133809b-0dfe-314d-bb1b-f2d498b9bbfa"},{"identifier":"165399ec-162b-31e7-8b6b-9cdcd334a033","instanceIdentifier":"feb6d664-887e-3cae-b5f9-2fbc9971aa3d","name":"","source":{"id":"21a922e3-3fee-3ed3-ffff-ffff8653c656","type":"PROCESSOR","groupId":"e133809b-0dfe-314d-bb1b-f2d498b9bbfa","name":"HandleHttpRequest Mongo Secrets","comments":"","instanceIdentifier":"825be783-0185-3f07-bd59-913b990948eb"},"destination":{"id":"67e907b1-0e99-300b-ffff-ffff89969c2d","type":"PROCESSOR","groupId":"e133809b-0dfe-314d-bb1b-f2d498b9bbfa","name":"EvaluateJsonPath Parse Mongo Secret Parameters","comments":"","instanceIdentifier":"62478b9c-f4a7-3836-bbb9-8685b208b351"},"labelIndex":0,"zIndex":1,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e133809b-0dfe-314d-bb1b-f2d498b9bbfa"},{"identifier":"d6ad906d-5f48-3c9a-a4c6-806cfdd88c6b","instanceIdentifier":"c631eefe-a0e6-30f8-9845-5682f11655f2","name":"","source":{"id":"67e907b1-0e99-300b-ffff-ffff89969c2d","type":"PROCESSOR","groupId":"e133809b-0dfe-314d-bb1b-f2d498b9bbfa","name":"EvaluateJsonPath Parse Mongo Secret Parameters","comments":"","instanceIdentifier":"62478b9c-f4a7-3836-bbb9-8685b208b351"},"destination":{"id":"5e7eb1bf-e371-32b7-ffff-ffffc5ec2442","type":"PROCESSOR","groupId":"e133809b-0dfe-314d-bb1b-f2d498b9bbfa","name":"HandleHttpResponse Mongo Secret Invalid","comments":"","instanceIdentifier":"1012aa9f-04a4-3d85-9f1e-0b512d4049e8"},"labelIndex":0,"zIndex":3,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"e133809b-0dfe-314d-bb1b-f2d498b9bbfa"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"905db770-acc0-328a-0000-00007b5d3977"},{"identifier":"c34f0700-3e24-39c1-80a2-e53cb42c45d8","instanceIdentifier":"a7eb24b7-4390-3d7a-ac54-48792a5bdc07","name":"Initialize Mongo Migration Request","comments":"","position":{"x":-2144.0,"y":-320.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"2faca00a-b1f3-3fdd-ffff-ffffe6c16078","instanceIdentifier":"ab8630da-d4d0-3b9a-a5fe-f637bb9bdb6b","name":"HandleHttpResponse Mongo Migration Valid","comments":"","position":{"x":-864.0,"y":-528.0},"type":"org.apache.nifi.processors.standard.HandleHttpResponse","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"HTTP Context Map":"f61030af-1c54-37fb-bd6b-2be5250146ba","Attributes to add to the HTTP Response (Regex)":null,"HTTP Status Code":"200"},"propertyDescriptors":{"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Attributes to add to the HTTP Response (Regex)":{"name":"Attributes to add to the HTTP Response (Regex)","displayName":"Attributes to add to the HTTP Response (Regex)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Status Code":{"name":"HTTP Status Code","displayName":"HTTP Status Code","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c34f0700-3e24-39c1-80a2-e53cb42c45d8"},{"identifier":"9da8c8d9-fad4-372d-ffff-ffffda8cceb6","instanceIdentifier":"7e05410b-ddbf-34fe-bd0e-b32723fc6265","name":"EvaluateJsonPath Parse Mongo Migration Parameters","comments":"","position":{"x":-2192.0,"y":-288.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"json","Null Value Representation":"empty string","migration.id":"$.migrationId","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"migration.id":{"name":"migration.id","displayName":"migration.id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c34f0700-3e24-39c1-80a2-e53cb42c45d8"},{"identifier":"7b8557be-599d-3bff-0000-00006572979a","instanceIdentifier":"7f61abea-b89a-394d-ba59-36d485fbe8f3","name":"UpdateAttribute CRDB DBCP Name","comments":"","position":{"x":-1528.0,"y":184.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.5.0"},"properties":{"target.crdb.port":"${target.crdb.port:trim():replaceEmpty('26257')}","target.crdb.schema.default":"${target.crdb.schema.default:trim():replaceEmpty('public')}","migration.priority":"${migration.priority:trim():replaceEmpty('normal')}","snapshot.load.method":"${snapshot.load.method:trim():replaceEmpty('copy_via_avro')}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","database.name":"${migration.id:append('.'):append(${collection.name})}","cdc.enabled":"${cdc.enabled:trim():replaceEmpty('false')}","database.dbcp.lookup.name":"${database.dbcp.lookup.name:trim():replaceEmpty('DBCPConnectionPoolLookup')}","target.crdb.database":"${target.crdb.database:trim():replaceEmpty('defaultdb')}","Stateful Variables Initial Value":null,"nifi.api.url":"${nifi.api.url:trim():replaceEmpty('https://nifi-node-01:9443/nifi-api')}","migration.dryRun":"${migration.dryRun:trim():replaceEmpty('false')}","ddl.mode":"${ddl.mode:trim():replaceEmpty('generate_only')}","Delete Attributes Expression":null,"target.crdb.tls.ssl.mode":"${target.crdb.tls.ssl.mode:trim():replaceEmpty('disable')}","snapshot.enabled":"${snapshot.enabled:trim():replaceEmpty('false')}","nifi.pg.name":"${nifi.pg.name:trim():replaceEmpty('MongoDB to CRDB')}"},"propertyDescriptors":{"target.crdb.port":{"name":"target.crdb.port","displayName":"target.crdb.port","identifiesControllerService":false,"sensitive":false,"dynamic":true},"target.crdb.schema.default":{"name":"target.crdb.schema.default","displayName":"target.crdb.schema.default","identifiesControllerService":false,"sensitive":false,"dynamic":true},"migration.priority":{"name":"migration.priority","displayName":"migration.priority","identifiesControllerService":false,"sensitive":false,"dynamic":true},"snapshot.load.method":{"name":"snapshot.load.method","displayName":"snapshot.load.method","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database.name":{"name":"database.name","displayName":"database.name","identifiesControllerService":false,"sensitive":false,"dynamic":true},"cdc.enabled":{"name":"cdc.enabled","displayName":"cdc.enabled","identifiesControllerService":false,"sensitive":false,"dynamic":true},"database.dbcp.lookup.name":{"name":"database.dbcp.lookup.name","displayName":"database.dbcp.lookup.name","identifiesControllerService":false,"sensitive":false,"dynamic":true},"target.crdb.database":{"name":"target.crdb.database","displayName":"target.crdb.database","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"nifi.api.url":{"name":"nifi.api.url","displayName":"nifi.api.url","identifiesControllerService":false,"sensitive":false,"dynamic":true},"migration.dryRun":{"name":"migration.dryRun","displayName":"migration.dryRun","identifiesControllerService":false,"sensitive":false,"dynamic":true},"ddl.mode":{"name":"ddl.mode","displayName":"ddl.mode","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"target.crdb.tls.ssl.mode":{"name":"target.crdb.tls.ssl.mode","displayName":"target.crdb.tls.ssl.mode","identifiesControllerService":false,"sensitive":false,"dynamic":true},"snapshot.enabled":{"name":"snapshot.enabled","displayName":"snapshot.enabled","identifiesControllerService":false,"sensitive":false,"dynamic":true},"nifi.pg.name":{"name":"nifi.pg.name","displayName":"nifi.pg.name","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c34f0700-3e24-39c1-80a2-e53cb42c45d8"},{"identifier":"1fa907ca-4f2e-3339-ba95-f412f372a22c","instanceIdentifier":"409dfbf2-83e4-3b05-bcfd-48a6ae3c5b5e","name":"HandleHttpRequest Mongo Migration","comments":"","position":{"x":-1528.0,"y":-528.0},"type":"org.apache.nifi.processors.standard.HandleHttpRequest","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"multipart-request-max-size":"1 MB","parameters-to-attributes":null,"Allow POST":"true","Hostname":null,"Default URL Character Set":"UTF-8","Allow DELETE":"false","Request Header Maximum Size":"8 KB","Maximum Threads":"200","HTTP Protocols":"HTTP_1_1","Additional HTTP Methods":null,"container-queue-size":"50","HTTP Context Map":"f61030af-1c54-37fb-bd6b-2be5250146ba","multipart-read-buffer-size":"512 KB","SSL Context Service":"1fa7aab3-ec7d-32ba-8001-0f1327095c5a","Allow OPTIONS":"false","Allowed Paths":"/migrate","Allow GET":"false","Allow HEAD":"false","Listening Port":"8888","Client Authentication":"Need Authentication","Allow PUT":"false"},"propertyDescriptors":{"multipart-request-max-size":{"name":"multipart-request-max-size","displayName":"Multipart Request Max Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"parameters-to-attributes":{"name":"parameters-to-attributes","displayName":"Parameters to Attributes List","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow POST":{"name":"Allow POST","displayName":"Allow POST","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Hostname":{"name":"Hostname","displayName":"Hostname","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Default URL Character Set":{"name":"Default URL Character Set","displayName":"Default URL Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow DELETE":{"name":"Allow DELETE","displayName":"Allow DELETE","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Request Header Maximum Size":{"name":"Request Header Maximum Size","displayName":"Request Header Maximum Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Threads":{"name":"Maximum Threads","displayName":"Maximum Threads","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Protocols":{"name":"HTTP Protocols","displayName":"HTTP Protocols","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Additional HTTP Methods":{"name":"Additional HTTP Methods","displayName":"Additional HTTP Methods","identifiesControllerService":false,"sensitive":false,"dynamic":false},"container-queue-size":{"name":"container-queue-size","displayName":"Container Queue Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","identifiesControllerService":true,"sensitive":false,"dynamic":false},"multipart-read-buffer-size":{"name":"multipart-read-buffer-size","displayName":"Multipart Read Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Allow OPTIONS":{"name":"Allow OPTIONS","displayName":"Allow OPTIONS","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allowed Paths":{"name":"Allowed Paths","displayName":"Allowed Paths","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow GET":{"name":"Allow GET","displayName":"Allow GET","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow HEAD":{"name":"Allow HEAD","displayName":"Allow HEAD","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Listening Port":{"name":"Listening Port","displayName":"Listening Port","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Client Authentication":{"name":"Client Authentication","displayName":"Client Authentication","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow PUT":{"name":"Allow PUT","displayName":"Allow PUT","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c34f0700-3e24-39c1-80a2-e53cb42c45d8"},{"identifier":"b370c11e-6c46-3e20-a92b-5594bd0e73de","instanceIdentifier":"afd91265-e256-3d68-808e-a318a0c6cf8a","name":"ValidateJson Mongo Migration Request","comments":"","position":{"x":-1528.0,"y":-288.0},"type":"org.apache.nifi.processors.standard.ValidateJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Max String Length":"20 MB","JSON Schema Version":"DRAFT_2020_12","JSON Schema":"/opt/nifi/scripts/mongodb/migrate_payload_schema.json","JSON Schema Registry":null,"Schema Access Strategy":"SCHEMA_CONTENT_PROPERTY","Schema Name":"${schema.name}"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JSON Schema Version":{"name":"JSON Schema Version","displayName":"JSON Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JSON Schema":{"name":"JSON Schema","displayName":"JSON Schema","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["URL","FILE","TEXT"]}},"JSON Schema Registry":{"name":"JSON Schema Registry","displayName":"JSON Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Schema Access Strategy":{"name":"Schema Access Strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Name":{"name":"Schema Name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c34f0700-3e24-39c1-80a2-e53cb42c45d8"},{"identifier":"003bdf08-6e03-3515-ffff-ffffb1a489ec","instanceIdentifier":"770332a4-4d8a-3791-85bb-b89320314182","name":"PutDistributedMapCache Migration Payload Request","comments":"","position":{"x":-2192.0,"y":-56.0},"type":"org.apache.nifi.processors.standard.PutDistributedMapCache","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Cache Entry Identifier":"${migration.id}:payload","Cache update strategy":"replace","Distributed Cache Service":"9e807d90-767c-3a91-8c0a-0209e078cfad","Max cache entry size":"1 MB"},"propertyDescriptors":{"Cache Entry Identifier":{"name":"Cache Entry Identifier","displayName":"Cache Entry Identifier","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache update strategy":{"name":"Cache update strategy","displayName":"Cache update strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Distributed Cache Service":{"name":"Distributed Cache Service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Max cache entry size":{"name":"Max cache entry size","displayName":"Max cache entry size","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c34f0700-3e24-39c1-80a2-e53cb42c45d8"},{"identifier":"854d60c0-70f4-30f2-0000-0000682cca40","instanceIdentifier":"3718d1ff-ff52-3dc5-940a-a60bdaf2e60f","name":"EvaluateJsonPath Parse Mongo Migration Parameters","comments":"","position":{"x":-1528.0,"y":-56.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Destination":"flowfile-attribute","collection.filters":"$.collection.filters","target.crdb.port":"$.targetCrdb.port","target.crdb.schema.default":"$.targetCrdb.defaultSchema","migration.priority":"$.priority","snapshot.load.method":"$.snapshot.load.method","source.mongo.username":"$.sourceMongo.auth.username","snapshot.avro.output.type":"$.snapshot.avro.output.type","database.dbcp.lookup.name":"$.nifi.dbcpLookupName","Null Value Representation":"empty string","snapshot.avro.output.basepath":"$.snapshot.avro.output.basePath","target.crdb.database":"$.targetCrdb.database","target.crdb.tls.client.cert":"$.targetCrdb.tls.clientCertLocation","nifi.api.url":"$.nifi.apiUrl","ddl.mode":"$.ddl.mode","Path Not Found Behavior":"ignore","target.crdb.tls.client.key":"$.targetCrdb.tls.clientKeyLocation","target.crdb.tls.ssl.mode":"$.targetCrdb.tls.sslmode","target.crdb.auth.username":"$.targetCrdb.auth.username","snapshot.enabled":"$.snapshot.enabled","nifi.pg.name":"$.nifi.processGroupName","target.crdb.tls.ca.cert":"$.targetCrdb.tls.caCertLocation","target.crdb.hostname":"$.targetCrdb.hostname","collection.name":"$.collection.name","migration.orchestrator":"$.orchestrator","source.mongo.password.secretRef":"$.sourceMongo.auth.passwordSecretRef","target.crdb.max.connections":"$.targetCrdb.maxConnections","Max String Length":"20 MB","Return Type":"json","cdc.enabled":"$.cdc.enabled","source.mongo.authDb":"$.sourceMongo.auth.authenticationDatabase","target.crdb.auth.password.secretRef":"$.targetCrdb.auth.passwordSecretRef","migration.id":"$.migrationId","source.mongo.database":"$.sourceMongo.database","migration.dryRun":"$.dryRun","source.mongo.connection.uri":"$.sourceMongo.connectionUri","target.crdb.schema.staging":"$.targetCrdb.stagingSchema"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"collection.filters":{"name":"collection.filters","displayName":"collection.filters","identifiesControllerService":false,"sensitive":false,"dynamic":true},"target.crdb.port":{"name":"target.crdb.port","displayName":"target.crdb.port","identifiesControllerService":false,"sensitive":false,"dynamic":true},"target.crdb.schema.default":{"name":"target.crdb.schema.default","displayName":"target.crdb.schema.default","identifiesControllerService":false,"sensitive":false,"dynamic":true},"migration.priority":{"name":"migration.priority","displayName":"migration.priority","identifiesControllerService":false,"sensitive":false,"dynamic":true},"snapshot.load.method":{"name":"snapshot.load.method","displayName":"snapshot.load.method","identifiesControllerService":false,"sensitive":false,"dynamic":true},"source.mongo.username":{"name":"source.mongo.username","displayName":"source.mongo.username","identifiesControllerService":false,"sensitive":false,"dynamic":true},"snapshot.avro.output.type":{"name":"snapshot.avro.output.type","displayName":"snapshot.avro.output.type","identifiesControllerService":false,"sensitive":false,"dynamic":true},"database.dbcp.lookup.name":{"name":"database.dbcp.lookup.name","displayName":"database.dbcp.lookup.name","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"snapshot.avro.output.basepath":{"name":"snapshot.avro.output.basepath","displayName":"snapshot.avro.output.basepath","identifiesControllerService":false,"sensitive":false,"dynamic":true},"target.crdb.database":{"name":"target.crdb.database","displayName":"target.crdb.database","identifiesControllerService":false,"sensitive":false,"dynamic":true},"target.crdb.tls.client.cert":{"name":"target.crdb.tls.client.cert","displayName":"target.crdb.tls.client.cert","identifiesControllerService":false,"sensitive":false,"dynamic":true},"nifi.api.url":{"name":"nifi.api.url","displayName":"nifi.api.url","identifiesControllerService":false,"sensitive":false,"dynamic":true},"ddl.mode":{"name":"ddl.mode","displayName":"ddl.mode","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"target.crdb.tls.client.key":{"name":"target.crdb.tls.client.key","displayName":"target.crdb.tls.client.key","identifiesControllerService":false,"sensitive":false,"dynamic":true},"target.crdb.tls.ssl.mode":{"name":"target.crdb.tls.ssl.mode","displayName":"target.crdb.tls.ssl.mode","identifiesControllerService":false,"sensitive":false,"dynamic":true},"target.crdb.auth.username":{"name":"target.crdb.auth.username","displayName":"target.crdb.auth.username","identifiesControllerService":false,"sensitive":false,"dynamic":true},"snapshot.enabled":{"name":"snapshot.enabled","displayName":"snapshot.enabled","identifiesControllerService":false,"sensitive":false,"dynamic":true},"nifi.pg.name":{"name":"nifi.pg.name","displayName":"nifi.pg.name","identifiesControllerService":false,"sensitive":false,"dynamic":true},"target.crdb.tls.ca.cert":{"name":"target.crdb.tls.ca.cert","displayName":"target.crdb.tls.ca.cert","identifiesControllerService":false,"sensitive":false,"dynamic":true},"target.crdb.hostname":{"name":"target.crdb.hostname","displayName":"target.crdb.hostname","identifiesControllerService":false,"sensitive":false,"dynamic":true},"collection.name":{"name":"collection.name","displayName":"collection.name","identifiesControllerService":false,"sensitive":false,"dynamic":true},"migration.orchestrator":{"name":"migration.orchestrator","displayName":"migration.orchestrator","identifiesControllerService":false,"sensitive":false,"dynamic":true},"source.mongo.password.secretRef":{"name":"source.mongo.password.secretRef","displayName":"source.mongo.password.secretRef","identifiesControllerService":false,"sensitive":false,"dynamic":true},"target.crdb.max.connections":{"name":"target.crdb.max.connections","displayName":"target.crdb.max.connections","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"cdc.enabled":{"name":"cdc.enabled","displayName":"cdc.enabled","identifiesControllerService":false,"sensitive":false,"dynamic":true},"source.mongo.authDb":{"name":"source.mongo.authDb","displayName":"source.mongo.authDb","identifiesControllerService":false,"sensitive":false,"dynamic":true},"target.crdb.auth.password.secretRef":{"name":"target.crdb.auth.password.secretRef","displayName":"target.crdb.auth.password.secretRef","identifiesControllerService":false,"sensitive":false,"dynamic":true},"migration.id":{"name":"migration.id","displayName":"migration.id","identifiesControllerService":false,"sensitive":false,"dynamic":true},"source.mongo.database":{"name":"source.mongo.database","displayName":"source.mongo.database","identifiesControllerService":false,"sensitive":false,"dynamic":true},"migration.dryRun":{"name":"migration.dryRun","displayName":"migration.dryRun","identifiesControllerService":false,"sensitive":false,"dynamic":true},"source.mongo.connection.uri":{"name":"source.mongo.connection.uri","displayName":"source.mongo.connection.uri","identifiesControllerService":false,"sensitive":false,"dynamic":true},"target.crdb.schema.staging":{"name":"target.crdb.schema.staging","displayName":"target.crdb.schema.staging","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c34f0700-3e24-39c1-80a2-e53cb42c45d8"},{"identifier":"6de4da65-0128-350d-848a-f243235fb843","instanceIdentifier":"be5cfec1-007d-3b8a-a48d-3c0be9d32c3c","name":"HandleHttpResponse Mongo Migration Invalid","comments":"","position":{"x":-864.0,"y":-288.0},"type":"org.apache.nifi.processors.standard.HandleHttpResponse","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"HTTP Context Map":"f61030af-1c54-37fb-bd6b-2be5250146ba","Attributes to add to the HTTP Response (Regex)":null,"HTTP Status Code":"400"},"propertyDescriptors":{"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Attributes to add to the HTTP Response (Regex)":{"name":"Attributes to add to the HTTP Response (Regex)","displayName":"Attributes to add to the HTTP Response (Regex)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Status Code":{"name":"HTTP Status Code","displayName":"HTTP Status Code","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c34f0700-3e24-39c1-80a2-e53cb42c45d8"},{"identifier":"50ec4fdf-90e3-3e65-ffff-ffffe73b2bbe","instanceIdentifier":"7e30ecf9-09c9-3681-8f04-ff622c44e291","name":"HandleHttpResponse Mongo Migration Failure","comments":"","position":{"x":-864.0,"y":-56.0},"type":"org.apache.nifi.processors.standard.HandleHttpResponse","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"HTTP Context Map":"f61030af-1c54-37fb-bd6b-2be5250146ba","Attributes to add to the HTTP Response (Regex)":null,"HTTP Status Code":"500"},"propertyDescriptors":{"HTTP Context Map":{"name":"HTTP Context Map","displayName":"HTTP Context Map","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Attributes to add to the HTTP Response (Regex)":{"name":"Attributes to add to the HTTP Response (Regex)","displayName":"Attributes to add to the HTTP Response (Regex)","identifiesControllerService":false,"sensitive":false,"dynamic":false},"HTTP Status Code":{"name":"HTTP Status Code","displayName":"HTTP Status Code","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c34f0700-3e24-39c1-80a2-e53cb42c45d8"},{"identifier":"2af1b510-4e9e-3ff1-b3af-f65c647c0350","instanceIdentifier":"8a654d5f-ae46-3836-a401-3d9dea240198","name":"LogAttribute Initialize Mongo Migration Request","comments":"","position":{"x":-864.0,"y":184.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c34f0700-3e24-39c1-80a2-e53cb42c45d8"}],"inputPorts":[{"identifier":"e7c4e31b-c176-3bad-8450-9c31089203c4","instanceIdentifier":"310fd871-89c9-33ef-93cf-71b4e1ad46ff","name":"Cockroach Schema","position":{"x":-808.0,"y":-688.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"c34f0700-3e24-39c1-80a2-e53cb42c45d8"}],"outputPorts":[{"identifier":"da7ec0df-a973-3da4-b3db-5c53a35a67b3","instanceIdentifier":"d6fb24f5-2a83-3bdb-89d6-c7b52493cf1a","name":"Mongo Migration Request","position":{"x":-1472.0,"y":416.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"c34f0700-3e24-39c1-80a2-e53cb42c45d8"}],"connections":[{"identifier":"faf90964-ec64-351d-82ed-2714e4c27c7f","instanceIdentifier":"3fc6de48-0442-361e-8e71-7c4cc15eecca","name":"","source":{"id":"b370c11e-6c46-3e20-a92b-5594bd0e73de","type":"PROCESSOR","groupId":"c34f0700-3e24-39c1-80a2-e53cb42c45d8","name":"ValidateJson Mongo Migration Request","comments":"","instanceIdentifier":"afd91265-e256-3d68-808e-a318a0c6cf8a"},"destination":{"id":"6de4da65-0128-350d-848a-f243235fb843","type":"PROCESSOR","groupId":"c34f0700-3e24-39c1-80a2-e53cb42c45d8","name":"HandleHttpResponse Mongo Migration Invalid","comments":"","instanceIdentifier":"be5cfec1-007d-3b8a-a48d-3c0be9d32c3c"},"labelIndex":0,"zIndex":4,"selectedRelationships":["invalid"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c34f0700-3e24-39c1-80a2-e53cb42c45d8"},{"identifier":"485b96a3-570c-32f4-9305-72b96dec251f","instanceIdentifier":"227201d6-8eaf-3944-808c-c07d4c580fc4","name":"","source":{"id":"e7c4e31b-c176-3bad-8450-9c31089203c4","type":"INPUT_PORT","groupId":"c34f0700-3e24-39c1-80a2-e53cb42c45d8","name":"Cockroach Schema","instanceIdentifier":"310fd871-89c9-33ef-93cf-71b4e1ad46ff"},"destination":{"id":"2faca00a-b1f3-3fdd-ffff-ffffe6c16078","type":"PROCESSOR","groupId":"c34f0700-3e24-39c1-80a2-e53cb42c45d8","name":"HandleHttpResponse Mongo Migration Valid","comments":"","instanceIdentifier":"ab8630da-d4d0-3b9a-a5fe-f637bb9bdb6b"},"labelIndex":0,"zIndex":13,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c34f0700-3e24-39c1-80a2-e53cb42c45d8"},{"identifier":"68f0f75c-3730-3ea6-9fe5-53622802bd28","instanceIdentifier":"312651e8-8f8c-36cf-ad57-90d8638dd6e7","name":"","source":{"id":"1fa907ca-4f2e-3339-ba95-f412f372a22c","type":"PROCESSOR","groupId":"c34f0700-3e24-39c1-80a2-e53cb42c45d8","name":"HandleHttpRequest Mongo Migration","comments":"","instanceIdentifier":"409dfbf2-83e4-3b05-bcfd-48a6ae3c5b5e"},"destination":{"id":"b370c11e-6c46-3e20-a92b-5594bd0e73de","type":"PROCESSOR","groupId":"c34f0700-3e24-39c1-80a2-e53cb42c45d8","name":"ValidateJson Mongo Migration Request","comments":"","instanceIdentifier":"afd91265-e256-3d68-808e-a318a0c6cf8a"},"labelIndex":0,"zIndex":3,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-1351.9457397460938,"y":-352.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c34f0700-3e24-39c1-80a2-e53cb42c45d8"},{"identifier":"03ae6f98-e769-32fc-b10d-93b290f95b2b","instanceIdentifier":"309cdd5d-867f-3a90-86bf-bb0c26168462","name":"","source":{"id":"7b8557be-599d-3bff-0000-00006572979a","type":"PROCESSOR","groupId":"c34f0700-3e24-39c1-80a2-e53cb42c45d8","name":"UpdateAttribute CRDB DBCP Name","comments":"","instanceIdentifier":"7f61abea-b89a-394d-ba59-36d485fbe8f3"},"destination":{"id":"da7ec0df-a973-3da4-b3db-5c53a35a67b3","type":"OUTPUT_PORT","groupId":"c34f0700-3e24-39c1-80a2-e53cb42c45d8","name":"Mongo Migration Request","instanceIdentifier":"d6fb24f5-2a83-3bdb-89d6-c7b52493cf1a"},"labelIndex":0,"zIndex":15,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c34f0700-3e24-39c1-80a2-e53cb42c45d8"},{"identifier":"bff3bc2b-407c-30f7-a00a-ae163314206f","instanceIdentifier":"78bbb2ee-a6c5-364b-875e-34eb499fdce4","name":"","source":{"id":"b370c11e-6c46-3e20-a92b-5594bd0e73de","type":"PROCESSOR","groupId":"c34f0700-3e24-39c1-80a2-e53cb42c45d8","name":"ValidateJson Mongo Migration Request","comments":"","instanceIdentifier":"afd91265-e256-3d68-808e-a318a0c6cf8a"},"destination":{"id":"9da8c8d9-fad4-372d-ffff-ffffda8cceb6","type":"PROCESSOR","groupId":"c34f0700-3e24-39c1-80a2-e53cb42c45d8","name":"EvaluateJsonPath Parse Mongo Migration Parameters","comments":"","instanceIdentifier":"7e05410b-ddbf-34fe-bd0e-b32723fc6265"},"labelIndex":0,"zIndex":16,"selectedRelationships":["valid"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c34f0700-3e24-39c1-80a2-e53cb42c45d8"},{"identifier":"0ae66073-880b-3db0-8b6f-e200a6588b14","instanceIdentifier":"54ebb11b-abcb-3bd6-a3aa-e3e59b044786","name":"","source":{"id":"9da8c8d9-fad4-372d-ffff-ffffda8cceb6","type":"PROCESSOR","groupId":"c34f0700-3e24-39c1-80a2-e53cb42c45d8","name":"EvaluateJsonPath Parse Mongo Migration Parameters","comments":"","instanceIdentifier":"7e05410b-ddbf-34fe-bd0e-b32723fc6265"},"destination":{"id":"003bdf08-6e03-3515-ffff-ffffb1a489ec","type":"PROCESSOR","groupId":"c34f0700-3e24-39c1-80a2-e53cb42c45d8","name":"PutDistributedMapCache Migration Payload Request","comments":"","instanceIdentifier":"770332a4-4d8a-3791-85bb-b89320314182"},"labelIndex":0,"zIndex":17,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c34f0700-3e24-39c1-80a2-e53cb42c45d8"},{"identifier":"26bcbe92-ab67-3a35-aded-c453c2ba443e","instanceIdentifier":"856f8048-fb5b-32fe-bc68-0951ef4d02e6","name":"","source":{"id":"854d60c0-70f4-30f2-0000-0000682cca40","type":"PROCESSOR","groupId":"c34f0700-3e24-39c1-80a2-e53cb42c45d8","name":"EvaluateJsonPath Parse Mongo Migration Parameters","comments":"","instanceIdentifier":"3718d1ff-ff52-3dc5-940a-a60bdaf2e60f"},"destination":{"id":"7b8557be-599d-3bff-0000-00006572979a","type":"PROCESSOR","groupId":"c34f0700-3e24-39c1-80a2-e53cb42c45d8","name":"UpdateAttribute CRDB DBCP Name","comments":"","instanceIdentifier":"7f61abea-b89a-394d-ba59-36d485fbe8f3"},"labelIndex":0,"zIndex":7,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c34f0700-3e24-39c1-80a2-e53cb42c45d8"},{"identifier":"a70cf091-b236-3205-ba22-25b11739c50f","instanceIdentifier":"0be2b77c-9b06-3106-bbeb-ddd3639c2a40","name":"","source":{"id":"b370c11e-6c46-3e20-a92b-5594bd0e73de","type":"PROCESSOR","groupId":"c34f0700-3e24-39c1-80a2-e53cb42c45d8","name":"ValidateJson Mongo Migration Request","comments":"","instanceIdentifier":"afd91265-e256-3d68-808e-a318a0c6cf8a"},"destination":{"id":"50ec4fdf-90e3-3e65-ffff-ffffe73b2bbe","type":"PROCESSOR","groupId":"c34f0700-3e24-39c1-80a2-e53cb42c45d8","name":"HandleHttpResponse Mongo Migration Failure","comments":"","instanceIdentifier":"7e30ecf9-09c9-3681-8f04-ff622c44e291"},"labelIndex":0,"zIndex":5,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c34f0700-3e24-39c1-80a2-e53cb42c45d8"},{"identifier":"25daa3fe-6891-3deb-bab9-826f5a36c66f","instanceIdentifier":"619507cd-73ff-3c5c-b21b-f008566b688b","name":"","source":{"id":"9da8c8d9-fad4-372d-ffff-ffffda8cceb6","type":"PROCESSOR","groupId":"c34f0700-3e24-39c1-80a2-e53cb42c45d8","name":"EvaluateJsonPath Parse Mongo Migration Parameters","comments":"","instanceIdentifier":"7e05410b-ddbf-34fe-bd0e-b32723fc6265"},"destination":{"id":"2af1b510-4e9e-3ff1-b3af-f65c647c0350","type":"PROCESSOR","groupId":"c34f0700-3e24-39c1-80a2-e53cb42c45d8","name":"LogAttribute Initialize Mongo Migration Request","comments":"","instanceIdentifier":"8a654d5f-ae46-3836-a401-3d9dea240198"},"labelIndex":0,"zIndex":18,"selectedRelationships":["failure","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-1680.0,"y":-104.0},{"x":-1680.0,"y":568.0},{"x":-1064.0,"y":568.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c34f0700-3e24-39c1-80a2-e53cb42c45d8"},{"identifier":"4040f88b-d343-349a-bcc3-119c1f5b85c3","instanceIdentifier":"8fa9ea96-f24a-395b-9bd3-494597b7bb94","name":"","source":{"id":"854d60c0-70f4-30f2-0000-0000682cca40","type":"PROCESSOR","groupId":"c34f0700-3e24-39c1-80a2-e53cb42c45d8","name":"EvaluateJsonPath Parse Mongo Migration Parameters","comments":"","instanceIdentifier":"3718d1ff-ff52-3dc5-940a-a60bdaf2e60f"},"destination":{"id":"2af1b510-4e9e-3ff1-b3af-f65c647c0350","type":"PROCESSOR","groupId":"c34f0700-3e24-39c1-80a2-e53cb42c45d8","name":"LogAttribute Initialize Mongo Migration Request","comments":"","instanceIdentifier":"8a654d5f-ae46-3836-a401-3d9dea240198"},"labelIndex":0,"zIndex":10,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c34f0700-3e24-39c1-80a2-e53cb42c45d8"},{"identifier":"93e5251a-c761-3e5a-ae34-5e5ceb9da1de","instanceIdentifier":"25241823-ca9b-3a46-aed1-88027d4fe419","name":"","source":{"id":"003bdf08-6e03-3515-ffff-ffffb1a489ec","type":"PROCESSOR","groupId":"c34f0700-3e24-39c1-80a2-e53cb42c45d8","name":"PutDistributedMapCache Migration Payload Request","comments":"","instanceIdentifier":"770332a4-4d8a-3791-85bb-b89320314182"},"destination":{"id":"2af1b510-4e9e-3ff1-b3af-f65c647c0350","type":"PROCESSOR","groupId":"c34f0700-3e24-39c1-80a2-e53cb42c45d8","name":"LogAttribute Initialize Mongo Migration Request","comments":"","instanceIdentifier":"8a654d5f-ae46-3836-a401-3d9dea240198"},"labelIndex":0,"zIndex":19,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-2016.0,"y":144.0},{"x":-2016.0,"y":568.0},{"x":-1064.0,"y":568.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c34f0700-3e24-39c1-80a2-e53cb42c45d8"},{"identifier":"7c19da9f-0079-368c-b7fb-42d6ab4d6c03","instanceIdentifier":"78ca8ade-315f-3a56-8165-b055e353d8f7","name":"","source":{"id":"b370c11e-6c46-3e20-a92b-5594bd0e73de","type":"PROCESSOR","groupId":"c34f0700-3e24-39c1-80a2-e53cb42c45d8","name":"ValidateJson Mongo Migration Request","comments":"","instanceIdentifier":"afd91265-e256-3d68-808e-a318a0c6cf8a"},"destination":{"id":"854d60c0-70f4-30f2-0000-0000682cca40","type":"PROCESSOR","groupId":"c34f0700-3e24-39c1-80a2-e53cb42c45d8","name":"EvaluateJsonPath Parse Mongo Migration Parameters","comments":"","instanceIdentifier":"3718d1ff-ff52-3dc5-940a-a60bdaf2e60f"},"labelIndex":0,"zIndex":2,"selectedRelationships":["valid"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c34f0700-3e24-39c1-80a2-e53cb42c45d8"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"905db770-acc0-328a-0000-00007b5d3977"},{"identifier":"c87d6fb4-f169-3cc3-b794-c5a20be76165","instanceIdentifier":"e1003988-7bb6-3bdc-997d-dc171efe5a26","name":"Generate Cockroach Schema","comments":"","position":{"x":-2144.0,"y":-8.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"84bf1de8-e5ee-3d20-0000-0000226b124c","instanceIdentifier":"eaaf0858-ae03-36e5-a6fc-786856ee2a64","name":"EvaluateJsonPath Extract Cockroach Schema DDL","comments":"","position":{"x":-432.0,"y":544.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Destination":"flowfile-content","Max String Length":"20 MB","Return Type":"auto-detect","Null Value Representation":"empty string","DDL":"$.ddl","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"DDL":{"name":"DDL","displayName":"DDL","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c87d6fb4-f169-3cc3-b794-c5a20be76165"},{"identifier":"56add532-dbb4-3876-9825-c38fbbeaa9c0","instanceIdentifier":"0e86f74e-2f64-37ef-85ff-cfb564e320da","name":"JoltTransformJSON Extract Schema Mapping Metadata","comments":"","position":{"x":280.0,"y":312.0},"type":"org.apache.nifi.processors.jolt.JoltTransformJSON","bundle":{"group":"org.apache.nifi","artifact":"nifi-jolt-nar","version":"2.5.0"},"properties":{"JSON Source":"FLOW_FILE","Jolt Transform":"jolt-transform-chain","JSON Source Attribute":null,"Max String Length":"20 MB","Transform Cache Size":"1","Custom Transformation Class Name":null,"Custom Module Directory":null,"Pretty Print":"false","Jolt Specification":"[\n  {\n    \"operation\": \"shift\",\n    \"spec\": {\n      \"mapping\": {\n        \"*\": \"&\"\n      }\n    }\n  }\n]"},"propertyDescriptors":{"JSON Source":{"name":"JSON Source","displayName":"JSON Source","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Transform":{"name":"Jolt Transform","displayName":"Jolt Transform","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JSON Source Attribute":{"name":"JSON Source Attribute","displayName":"JSON Source Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transform Cache Size":{"name":"Transform Cache Size","displayName":"Transform Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Transformation Class Name":{"name":"Custom Transformation Class Name","displayName":"Custom Transformation Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Custom Module Directory":{"name":"Custom Module Directory","displayName":"Custom Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}},"Pretty Print":{"name":"Pretty Print","displayName":"Pretty Print","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Jolt Specification":{"name":"Jolt Specification","displayName":"Jolt Specification","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE","TEXT"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c87d6fb4-f169-3cc3-b794-c5a20be76165"},{"identifier":"1b604cde-5994-308b-83dc-b8ac7cf045ae","instanceIdentifier":"aac90e0a-c0c8-3677-8d8f-4579fb192f15","name":"RouteOnAttribute Mongo Password Reference","comments":"","position":{"x":-432.0,"y":-656.0},"type":"org.apache.nifi.processors.standard.RouteOnAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Routing Strategy":"Route to Property name","hasReference":"${source.mongo.password.secretRef:isNull():not()}"},"propertyDescriptors":{"Routing Strategy":{"name":"Routing Strategy","displayName":"Routing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"hasReference":{"name":"hasReference","displayName":"hasReference","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c87d6fb4-f169-3cc3-b794-c5a20be76165"},{"identifier":"e633d2f1-1ed9-39d8-a4db-67715632b758","instanceIdentifier":"4117d5cf-6800-36b1-945e-7612bf07f380","name":"LogAttribute Generate Cockroach Schema","comments":"","position":{"x":280.0,"y":-168.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c87d6fb4-f169-3cc3-b794-c5a20be76165"},{"identifier":"7da4a63e-6cfc-3701-8342-810eb74d852b","instanceIdentifier":"c93db064-59b0-3fd6-b356-8094f5a44021","name":"FetchDistributedMapCache Mongo Password","comments":"","position":{"x":-432.0,"y":-408.0},"type":"org.apache.nifi.processors.standard.FetchDistributedMapCache","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Cache Entry Identifier":"${source.mongo.password.secretRef}","Put Cache Value In Attribute":"source.mongo.password","Distributed Cache Service":"9e807d90-767c-3a91-8c0a-0209e078cfad","Max Length To Put In Attribute":"256","Character Set":"UTF-8"},"propertyDescriptors":{"Cache Entry Identifier":{"name":"Cache Entry Identifier","displayName":"Cache Entry Identifier","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Put Cache Value In Attribute":{"name":"Put Cache Value In Attribute","displayName":"Put Cache Value In Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Distributed Cache Service":{"name":"Distributed Cache Service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Max Length To Put In Attribute":{"name":"Max Length To Put In Attribute","displayName":"Max Length To Put In Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c87d6fb4-f169-3cc3-b794-c5a20be76165"},{"identifier":"95e9fa81-1960-3332-9662-c0258502ae15","instanceIdentifier":"d157f45b-63b7-379e-bdbd-547474a366df","name":"PutDistributedMapCache Schema Mapping Metadata","comments":"","position":{"x":280.0,"y":544.0},"type":"org.apache.nifi.processors.standard.PutDistributedMapCache","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Cache Entry Identifier":"${migration.id}:schemaMapping","Cache update strategy":"replace","Distributed Cache Service":"9e807d90-767c-3a91-8c0a-0209e078cfad","Max cache entry size":"1 MB"},"propertyDescriptors":{"Cache Entry Identifier":{"name":"Cache Entry Identifier","displayName":"Cache Entry Identifier","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Cache update strategy":{"name":"Cache update strategy","displayName":"Cache update strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Distributed Cache Service":{"name":"Distributed Cache Service","displayName":"Distributed Cache Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Max cache entry size":{"name":"Max cache entry size","displayName":"Max cache entry size","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c87d6fb4-f169-3cc3-b794-c5a20be76165"},{"identifier":"aa5e5397-e988-34d1-ad69-e59d2f6aa471","instanceIdentifier":"d858e037-f029-343f-a007-ab20f779bfc2","name":"EvaluateJsonPath Extract Mapping Key","comments":"","position":{"x":-432.0,"y":312.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Destination":"flowfile-attribute","migration.meta.sample.count":"$.meta.sampleCount","migration.inference.field.count":"$.inference.fieldCount","Max String Length":"20 MB","Return Type":"auto-detect","migration.meta.collection":"$.meta.collection","migration.inference.base.table":"$.inference.baseTable","Null Value Representation":"empty string","migration.meta.mapping.key":"$.meta.mappingKey","migration.meta.db":"$.meta.db","Path Not Found Behavior":"ignore"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"migration.meta.sample.count":{"name":"migration.meta.sample.count","displayName":"migration.meta.sample.count","identifiesControllerService":false,"sensitive":false,"dynamic":true},"migration.inference.field.count":{"name":"migration.inference.field.count","displayName":"migration.inference.field.count","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"migration.meta.collection":{"name":"migration.meta.collection","displayName":"migration.meta.collection","identifiesControllerService":false,"sensitive":false,"dynamic":true},"migration.inference.base.table":{"name":"migration.inference.base.table","displayName":"migration.inference.base.table","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"migration.meta.mapping.key":{"name":"migration.meta.mapping.key","displayName":"migration.meta.mapping.key","identifiesControllerService":false,"sensitive":false,"dynamic":true},"migration.meta.db":{"name":"migration.meta.db","displayName":"migration.meta.db","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["unmatched"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c87d6fb4-f169-3cc3-b794-c5a20be76165"},{"identifier":"78238ffc-6fc3-398c-bf19-4db79cd62053","instanceIdentifier":"f919b394-f5f7-3975-a47e-e431559067b7","name":"ExecuteScript Build Mongo Bundle","comments":"","position":{"x":-432.0,"y":-168.0},"type":"org.apache.nifi.processors.script.ExecuteScript","bundle":{"group":"org.apache.nifi","artifact":"nifi-scripting-nar","version":"2.5.0"},"properties":{"Script File":"/opt/nifi/scripts/mongodb/BuildMongoBundle.groovy","Script Engine":"Groovy","Script Body":null,"Module Directory":"/opt/drivers/mongodb"},"propertyDescriptors":{"Script File":{"name":"Script File","displayName":"Script File","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Script Engine":{"name":"Script Engine","displayName":"Script Engine","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Script Body":{"name":"Script Body","displayName":"Script Body","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Module Directory":{"name":"Module Directory","displayName":"Module Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","FILE"]}}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["failure"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c87d6fb4-f169-3cc3-b794-c5a20be76165"},{"identifier":"d3a5b525-8dce-35b0-84c2-e986257006b8","instanceIdentifier":"8e4a8030-7aff-396f-869e-65e2c8ef83e0","name":"ExecuteStreamCommand To Infer Migration Schema","comments":"","position":{"x":-432.0,"y":72.0},"type":"org.apache.nifi.processors.standard.ExecuteStreamCommand","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"argumentsStrategy":"Command Arguments Property","Max Attribute Length":"256","Output MIME Type":null,"Working Directory":"/opt/nifi/scripts/mongodb","Command Path":"/usr/bin/python3","Output Destination Attribute":null,"Argument Delimiter":" ","Ignore STDIN":"false","Command Arguments":"infer_and_generate_ddl.py"},"propertyDescriptors":{"argumentsStrategy":{"name":"argumentsStrategy","displayName":"Command Arguments Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Attribute Length":{"name":"Max Attribute Length","displayName":"Max Attribute Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output MIME Type":{"name":"Output MIME Type","displayName":"Output MIME Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Working Directory":{"name":"Working Directory","displayName":"Working Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Command Path":{"name":"Command Path","displayName":"Command Path","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Destination Attribute":{"name":"Output Destination Attribute","displayName":"Output Destination Attribute","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Argument Delimiter":{"name":"Argument Delimiter","displayName":"Argument Delimiter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore STDIN":{"name":"Ignore STDIN","displayName":"Ignore STDIN","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Command Arguments":{"name":"Command Arguments","displayName":"Command Arguments","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":["nonzero status"],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"c87d6fb4-f169-3cc3-b794-c5a20be76165"}],"inputPorts":[{"identifier":"91da6d9f-55e5-3df7-a313-f7ca10b67d79","instanceIdentifier":"0a76853e-e399-3ed0-a7fe-ecf1357e46fb","name":"Mongo Migration Request","position":{"x":-376.0,"y":-816.0},"type":"INPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"INPUT_PORT","groupIdentifier":"c87d6fb4-f169-3cc3-b794-c5a20be76165"}],"outputPorts":[{"identifier":"3c4a4094-f422-383a-9003-8b4f5896cf7b","instanceIdentifier":"c0f4359f-ce20-31dc-a75a-700f741d49ce","name":"Cockroach Schema","position":{"x":-376.0,"y":792.0},"type":"OUTPUT_PORT","concurrentlySchedulableTaskCount":1,"scheduledState":"ENABLED","allowRemoteAccess":false,"portFunction":"STANDARD","componentType":"OUTPUT_PORT","groupIdentifier":"c87d6fb4-f169-3cc3-b794-c5a20be76165"}],"connections":[{"identifier":"4ab2dbeb-6ffb-3fc8-a949-cc7e817ff368","instanceIdentifier":"85802b61-ac81-33d0-bf36-dab23ea801ab","name":"","source":{"id":"7da4a63e-6cfc-3701-8342-810eb74d852b","type":"PROCESSOR","groupId":"c87d6fb4-f169-3cc3-b794-c5a20be76165","name":"FetchDistributedMapCache Mongo Password","comments":"","instanceIdentifier":"c93db064-59b0-3fd6-b356-8094f5a44021"},"destination":{"id":"e633d2f1-1ed9-39d8-a4db-67715632b758","type":"PROCESSOR","groupId":"c87d6fb4-f169-3cc3-b794-c5a20be76165","name":"LogAttribute Generate Cockroach Schema","comments":"","instanceIdentifier":"4117d5cf-6800-36b1-945e-7612bf07f380"},"labelIndex":0,"zIndex":16,"selectedRelationships":["not-found","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c87d6fb4-f169-3cc3-b794-c5a20be76165"},{"identifier":"f1c06132-b22d-363b-84fd-f81271ff1763","instanceIdentifier":"0385109d-08f2-35e8-b9d9-5cabf264b97f","name":"","source":{"id":"78238ffc-6fc3-398c-bf19-4db79cd62053","type":"PROCESSOR","groupId":"c87d6fb4-f169-3cc3-b794-c5a20be76165","name":"ExecuteScript Build Mongo Bundle","comments":"","instanceIdentifier":"f919b394-f5f7-3975-a47e-e431559067b7"},"destination":{"id":"d3a5b525-8dce-35b0-84c2-e986257006b8","type":"PROCESSOR","groupId":"c87d6fb4-f169-3cc3-b794-c5a20be76165","name":"ExecuteStreamCommand To Infer Migration Schema","comments":"","instanceIdentifier":"8e4a8030-7aff-396f-869e-65e2c8ef83e0"},"labelIndex":0,"zIndex":3,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c87d6fb4-f169-3cc3-b794-c5a20be76165"},{"identifier":"f57da5ae-4d97-384b-8379-4744c76b0bbb","instanceIdentifier":"9f9d6564-fe1f-37a2-9156-9ef9ba0c723b","name":"","source":{"id":"84bf1de8-e5ee-3d20-0000-0000226b124c","type":"PROCESSOR","groupId":"c87d6fb4-f169-3cc3-b794-c5a20be76165","name":"EvaluateJsonPath Extract Cockroach Schema DDL","comments":"","instanceIdentifier":"eaaf0858-ae03-36e5-a6fc-786856ee2a64"},"destination":{"id":"e633d2f1-1ed9-39d8-a4db-67715632b758","type":"PROCESSOR","groupId":"c87d6fb4-f169-3cc3-b794-c5a20be76165","name":"LogAttribute Generate Cockroach Schema","comments":"","instanceIdentifier":"4117d5cf-6800-36b1-945e-7612bf07f380"},"labelIndex":0,"zIndex":12,"selectedRelationships":["failure","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c87d6fb4-f169-3cc3-b794-c5a20be76165"},{"identifier":"1948497c-b553-32db-b727-3afe814ccd9d","instanceIdentifier":"01ca03d0-1148-3fe0-8a0c-c5337f0d6d8c","name":"","source":{"id":"d3a5b525-8dce-35b0-84c2-e986257006b8","type":"PROCESSOR","groupId":"c87d6fb4-f169-3cc3-b794-c5a20be76165","name":"ExecuteStreamCommand To Infer Migration Schema","comments":"","instanceIdentifier":"8e4a8030-7aff-396f-869e-65e2c8ef83e0"},"destination":{"id":"e633d2f1-1ed9-39d8-a4db-67715632b758","type":"PROCESSOR","groupId":"c87d6fb4-f169-3cc3-b794-c5a20be76165","name":"LogAttribute Generate Cockroach Schema","comments":"","instanceIdentifier":"4117d5cf-6800-36b1-945e-7612bf07f380"},"labelIndex":0,"zIndex":4,"selectedRelationships":["nonzero status"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c87d6fb4-f169-3cc3-b794-c5a20be76165"},{"identifier":"fa766fb0-4227-36ff-90cf-2906b072fff6","instanceIdentifier":"d5f2b91e-ad79-3661-8cb2-43c1d0bd65cf","name":"","source":{"id":"84bf1de8-e5ee-3d20-0000-0000226b124c","type":"PROCESSOR","groupId":"c87d6fb4-f169-3cc3-b794-c5a20be76165","name":"EvaluateJsonPath Extract Cockroach Schema DDL","comments":"","instanceIdentifier":"eaaf0858-ae03-36e5-a6fc-786856ee2a64"},"destination":{"id":"3c4a4094-f422-383a-9003-8b4f5896cf7b","type":"OUTPUT_PORT","groupId":"c87d6fb4-f169-3cc3-b794-c5a20be76165","name":"Cockroach Schema","instanceIdentifier":"c0f4359f-ce20-31dc-a75a-700f741d49ce"},"labelIndex":0,"zIndex":13,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c87d6fb4-f169-3cc3-b794-c5a20be76165"},{"identifier":"e06c91a0-9e4a-370f-992a-c7b29334b815","instanceIdentifier":"2b6ee62e-b690-3762-962a-7917f72929b3","name":"","source":{"id":"56add532-dbb4-3876-9825-c38fbbeaa9c0","type":"PROCESSOR","groupId":"c87d6fb4-f169-3cc3-b794-c5a20be76165","name":"JoltTransformJSON Extract Schema Mapping Metadata","comments":"","instanceIdentifier":"0e86f74e-2f64-37ef-85ff-cfb564e320da"},"destination":{"id":"e633d2f1-1ed9-39d8-a4db-67715632b758","type":"PROCESSOR","groupId":"c87d6fb4-f169-3cc3-b794-c5a20be76165","name":"LogAttribute Generate Cockroach Schema","comments":"","instanceIdentifier":"4117d5cf-6800-36b1-945e-7612bf07f380"},"labelIndex":0,"zIndex":10,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c87d6fb4-f169-3cc3-b794-c5a20be76165"},{"identifier":"7410743c-77cb-3642-9f2e-fcbc89d9a646","instanceIdentifier":"f5c0da62-7f7c-3678-be5e-d2b4798f1f38","name":"","source":{"id":"95e9fa81-1960-3332-9662-c0258502ae15","type":"PROCESSOR","groupId":"c87d6fb4-f169-3cc3-b794-c5a20be76165","name":"PutDistributedMapCache Schema Mapping Metadata","comments":"","instanceIdentifier":"d157f45b-63b7-379e-bdbd-547474a366df"},"destination":{"id":"e633d2f1-1ed9-39d8-a4db-67715632b758","type":"PROCESSOR","groupId":"c87d6fb4-f169-3cc3-b794-c5a20be76165","name":"LogAttribute Generate Cockroach Schema","comments":"","instanceIdentifier":"4117d5cf-6800-36b1-945e-7612bf07f380"},"labelIndex":0,"zIndex":19,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":808.0,"y":424.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c87d6fb4-f169-3cc3-b794-c5a20be76165"},{"identifier":"398d4327-e47f-3e81-bb9f-8d6f24329c34","instanceIdentifier":"d3db44b2-e398-3d4f-a2d1-1c97f5c8a7d6","name":"","source":{"id":"56add532-dbb4-3876-9825-c38fbbeaa9c0","type":"PROCESSOR","groupId":"c87d6fb4-f169-3cc3-b794-c5a20be76165","name":"JoltTransformJSON Extract Schema Mapping Metadata","comments":"","instanceIdentifier":"0e86f74e-2f64-37ef-85ff-cfb564e320da"},"destination":{"id":"95e9fa81-1960-3332-9662-c0258502ae15","type":"PROCESSOR","groupId":"c87d6fb4-f169-3cc3-b794-c5a20be76165","name":"PutDistributedMapCache Schema Mapping Metadata","comments":"","instanceIdentifier":"d157f45b-63b7-379e-bdbd-547474a366df"},"labelIndex":0,"zIndex":11,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c87d6fb4-f169-3cc3-b794-c5a20be76165"},{"identifier":"758bcc15-8cc8-3a6b-b7e7-000f71fc9913","instanceIdentifier":"6ed35f34-8a7d-3dd4-b66f-5a6b1bc70544","name":"","source":{"id":"d3a5b525-8dce-35b0-84c2-e986257006b8","type":"PROCESSOR","groupId":"c87d6fb4-f169-3cc3-b794-c5a20be76165","name":"ExecuteStreamCommand To Infer Migration Schema","comments":"","instanceIdentifier":"8e4a8030-7aff-396f-869e-65e2c8ef83e0"},"destination":{"id":"aa5e5397-e988-34d1-ad69-e59d2f6aa471","type":"PROCESSOR","groupId":"c87d6fb4-f169-3cc3-b794-c5a20be76165","name":"EvaluateJsonPath Extract Mapping Key","comments":"","instanceIdentifier":"d858e037-f029-343f-a007-ab20f779bfc2"},"labelIndex":0,"zIndex":6,"selectedRelationships":["output stream"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c87d6fb4-f169-3cc3-b794-c5a20be76165"},{"identifier":"1aa4ca47-318f-3610-9836-9a6b79e500ff","instanceIdentifier":"aebaa861-766a-3605-9ac2-28f5f4fa4723","name":"","source":{"id":"aa5e5397-e988-34d1-ad69-e59d2f6aa471","type":"PROCESSOR","groupId":"c87d6fb4-f169-3cc3-b794-c5a20be76165","name":"EvaluateJsonPath Extract Mapping Key","comments":"","instanceIdentifier":"d858e037-f029-343f-a007-ab20f779bfc2"},"destination":{"id":"56add532-dbb4-3876-9825-c38fbbeaa9c0","type":"PROCESSOR","groupId":"c87d6fb4-f169-3cc3-b794-c5a20be76165","name":"JoltTransformJSON Extract Schema Mapping Metadata","comments":"","instanceIdentifier":"0e86f74e-2f64-37ef-85ff-cfb564e320da"},"labelIndex":0,"zIndex":8,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c87d6fb4-f169-3cc3-b794-c5a20be76165"},{"identifier":"ebe3c4a3-d354-3dab-bf0d-35bc996fee67","instanceIdentifier":"ee48880f-b318-375a-b532-2566ad820d7d","name":"","source":{"id":"78238ffc-6fc3-398c-bf19-4db79cd62053","type":"PROCESSOR","groupId":"c87d6fb4-f169-3cc3-b794-c5a20be76165","name":"ExecuteScript Build Mongo Bundle","comments":"","instanceIdentifier":"f919b394-f5f7-3975-a47e-e431559067b7"},"destination":{"id":"e633d2f1-1ed9-39d8-a4db-67715632b758","type":"PROCESSOR","groupId":"c87d6fb4-f169-3cc3-b794-c5a20be76165","name":"LogAttribute Generate Cockroach Schema","comments":"","instanceIdentifier":"4117d5cf-6800-36b1-945e-7612bf07f380"},"labelIndex":0,"zIndex":2,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c87d6fb4-f169-3cc3-b794-c5a20be76165"},{"identifier":"213fe255-f46a-3f8c-8c88-34f53515218a","instanceIdentifier":"c5e14b31-0de9-342f-8d1e-945fcae5aae8","name":"","source":{"id":"7da4a63e-6cfc-3701-8342-810eb74d852b","type":"PROCESSOR","groupId":"c87d6fb4-f169-3cc3-b794-c5a20be76165","name":"FetchDistributedMapCache Mongo Password","comments":"","instanceIdentifier":"c93db064-59b0-3fd6-b356-8094f5a44021"},"destination":{"id":"78238ffc-6fc3-398c-bf19-4db79cd62053","type":"PROCESSOR","groupId":"c87d6fb4-f169-3cc3-b794-c5a20be76165","name":"ExecuteScript Build Mongo Bundle","comments":"","instanceIdentifier":"f919b394-f5f7-3975-a47e-e431559067b7"},"labelIndex":0,"zIndex":15,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c87d6fb4-f169-3cc3-b794-c5a20be76165"},{"identifier":"d45f239f-e814-39bc-81b9-81603e31ff52","instanceIdentifier":"f6f7e3cb-4e60-3ef7-92b7-c97b35880c96","name":"","source":{"id":"1b604cde-5994-308b-83dc-b8ac7cf045ae","type":"PROCESSOR","groupId":"c87d6fb4-f169-3cc3-b794-c5a20be76165","name":"RouteOnAttribute Mongo Password Reference","comments":"","instanceIdentifier":"aac90e0a-c0c8-3677-8d8f-4579fb192f15"},"destination":{"id":"7da4a63e-6cfc-3701-8342-810eb74d852b","type":"PROCESSOR","groupId":"c87d6fb4-f169-3cc3-b794-c5a20be76165","name":"FetchDistributedMapCache Mongo Password","comments":"","instanceIdentifier":"c93db064-59b0-3fd6-b356-8094f5a44021"},"labelIndex":0,"zIndex":17,"selectedRelationships":["hasReference"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c87d6fb4-f169-3cc3-b794-c5a20be76165"},{"identifier":"71f4f73f-8fbb-30be-b37e-b0cf63ba6531","instanceIdentifier":"007e137d-63b3-3b97-8eed-5eed72691b43","name":"","source":{"id":"91da6d9f-55e5-3df7-a313-f7ca10b67d79","type":"INPUT_PORT","groupId":"c87d6fb4-f169-3cc3-b794-c5a20be76165","name":"Mongo Migration Request","instanceIdentifier":"0a76853e-e399-3ed0-a7fe-ecf1357e46fb"},"destination":{"id":"1b604cde-5994-308b-83dc-b8ac7cf045ae","type":"PROCESSOR","groupId":"c87d6fb4-f169-3cc3-b794-c5a20be76165","name":"RouteOnAttribute Mongo Password Reference","comments":"","instanceIdentifier":"aac90e0a-c0c8-3677-8d8f-4579fb192f15"},"labelIndex":0,"zIndex":1,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c87d6fb4-f169-3cc3-b794-c5a20be76165"},{"identifier":"4d77bdde-d194-3742-9900-00b5a270a689","instanceIdentifier":"01a8d7e1-ee75-352a-a14c-60d969affdac","name":"","source":{"id":"1b604cde-5994-308b-83dc-b8ac7cf045ae","type":"PROCESSOR","groupId":"c87d6fb4-f169-3cc3-b794-c5a20be76165","name":"RouteOnAttribute Mongo Password Reference","comments":"","instanceIdentifier":"aac90e0a-c0c8-3677-8d8f-4579fb192f15"},"destination":{"id":"78238ffc-6fc3-398c-bf19-4db79cd62053","type":"PROCESSOR","groupId":"c87d6fb4-f169-3cc3-b794-c5a20be76165","name":"ExecuteScript Build Mongo Bundle","comments":"","instanceIdentifier":"f919b394-f5f7-3975-a47e-e431559067b7"},"labelIndex":0,"zIndex":18,"selectedRelationships":["unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-600.0,"y":-344.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c87d6fb4-f169-3cc3-b794-c5a20be76165"},{"identifier":"473ee496-aae1-3157-b7ea-57374030222b","instanceIdentifier":"0c51de7f-45d9-3862-af8d-afe51fda6689","name":"","source":{"id":"aa5e5397-e988-34d1-ad69-e59d2f6aa471","type":"PROCESSOR","groupId":"c87d6fb4-f169-3cc3-b794-c5a20be76165","name":"EvaluateJsonPath Extract Mapping Key","comments":"","instanceIdentifier":"d858e037-f029-343f-a007-ab20f779bfc2"},"destination":{"id":"84bf1de8-e5ee-3d20-0000-0000226b124c","type":"PROCESSOR","groupId":"c87d6fb4-f169-3cc3-b794-c5a20be76165","name":"EvaluateJsonPath Extract Cockroach Schema DDL","comments":"","instanceIdentifier":"eaaf0858-ae03-36e5-a6fc-786856ee2a64"},"labelIndex":0,"zIndex":9,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c87d6fb4-f169-3cc3-b794-c5a20be76165"},{"identifier":"a715d4cb-2fc3-3dfa-977e-f5f007ea2c0d","instanceIdentifier":"65ab3a1c-ecfa-32c2-b405-5544b82d6472","name":"","source":{"id":"aa5e5397-e988-34d1-ad69-e59d2f6aa471","type":"PROCESSOR","groupId":"c87d6fb4-f169-3cc3-b794-c5a20be76165","name":"EvaluateJsonPath Extract Mapping Key","comments":"","instanceIdentifier":"d858e037-f029-343f-a007-ab20f779bfc2"},"destination":{"id":"e633d2f1-1ed9-39d8-a4db-67715632b758","type":"PROCESSOR","groupId":"c87d6fb4-f169-3cc3-b794-c5a20be76165","name":"LogAttribute Generate Cockroach Schema","comments":"","instanceIdentifier":"4117d5cf-6800-36b1-945e-7612bf07f380"},"labelIndex":0,"zIndex":7,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"c87d6fb4-f169-3cc3-b794-c5a20be76165"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","groupIdentifier":"905db770-acc0-328a-0000-00007b5d3977"}],"remoteProcessGroups":[],"processors":[{"identifier":"887420f2-bd51-3d2b-0000-0000354938e7","instanceIdentifier":"4e85e038-78ef-3108-ae62-1f871c41ee03","name":"LogAttribute End of Pipeline","comments":"","position":{"x":-2128.0,"y":296.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.5.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"DISABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"905db770-acc0-328a-0000-00007b5d3977"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"b96f8225-73ce-3f5f-86d7-c38fbb08073a","instanceIdentifier":"798546d7-a014-3c78-a6df-d93f01ad546d","name":"","source":{"id":"3c4a4094-f422-383a-9003-8b4f5896cf7b","type":"OUTPUT_PORT","groupId":"c87d6fb4-f169-3cc3-b794-c5a20be76165","name":"Cockroach Schema","instanceIdentifier":"c0f4359f-ce20-31dc-a75a-700f741d49ce"},"destination":{"id":"887420f2-bd51-3d2b-0000-0000354938e7","type":"PROCESSOR","groupId":"905db770-acc0-328a-0000-00007b5d3977","name":"LogAttribute End of Pipeline","comments":"","instanceIdentifier":"4e85e038-78ef-3108-ae62-1f871c41ee03"},"labelIndex":0,"zIndex":6,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"905db770-acc0-328a-0000-00007b5d3977"},{"identifier":"97cef064-e279-33d2-ab58-2ac2dffefdea","instanceIdentifier":"c4245dae-3896-383b-a2fb-1fc2615b28d0","name":"","source":{"id":"da7ec0df-a973-3da4-b3db-5c53a35a67b3","type":"OUTPUT_PORT","groupId":"c34f0700-3e24-39c1-80a2-e53cb42c45d8","name":"Mongo Migration Request","instanceIdentifier":"d6fb24f5-2a83-3bdb-89d6-c7b52493cf1a"},"destination":{"id":"91da6d9f-55e5-3df7-a313-f7ca10b67d79","type":"INPUT_PORT","groupId":"c87d6fb4-f169-3cc3-b794-c5a20be76165","name":"Mongo Migration Request","instanceIdentifier":"0a76853e-e399-3ed0-a7fe-ecf1357e46fb"},"labelIndex":0,"zIndex":5,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"905db770-acc0-328a-0000-00007b5d3977"},{"identifier":"60a5d1da-ddd1-3e30-ac76-71c8142ca52a","instanceIdentifier":"7781558f-769f-3105-8dc0-8dfb6144e8bd","name":"","source":{"id":"3c4a4094-f422-383a-9003-8b4f5896cf7b","type":"OUTPUT_PORT","groupId":"c87d6fb4-f169-3cc3-b794-c5a20be76165","name":"Cockroach Schema","instanceIdentifier":"c0f4359f-ce20-31dc-a75a-700f741d49ce"},"destination":{"id":"e7c4e31b-c176-3bad-8450-9c31089203c4","type":"INPUT_PORT","groupId":"c34f0700-3e24-39c1-80a2-e53cb42c45d8","name":"Cockroach Schema","instanceIdentifier":"310fd871-89c9-33ef-93cf-71b4e1ad46ff"},"labelIndex":0,"zIndex":4,"selectedRelationships":[""],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":-2272.0,"y":-72.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"905db770-acc0-328a-0000-00007b5d3977"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"13a34b3b-a06d-3662-874b-492117ee14a4","instanceIdentifier":"91d5e341-e768-3c56-9ddc-111f772c6f08","name":"MapCacheClientServiceNotify","comments":"","type":"org.apache.nifi.distributed.cache.client.MapCacheClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-distributed-cache-services-nar","version":"2.5.0"},"properties":{"SSL Context Service":null,"Server Port":"4558","Server Hostname":"nifi-node-01","Communications Timeout":"30 secs"},"propertyDescriptors":{"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Server Port":{"name":"Server Port","displayName":"Server Port","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Server Hostname":{"name":"Server Hostname","displayName":"Server Hostname","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.distributed.cache.client.DistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.5.0"}},{"type":"org.apache.nifi.distributed.cache.client.AtomicDistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.5.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"905db770-acc0-328a-0000-00007b5d3977"},{"identifier":"1fa7aab3-ec7d-32ba-8001-0f1327095c5a","instanceIdentifier":"0a153d00-b198-3df3-a030-34ad37f8898c","name":"StandardRestrictedSSLContextService","comments":"","type":"org.apache.nifi.ssl.StandardRestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-ssl-context-service-nar","version":"2.5.0"},"properties":{"Truststore Type":"PKCS12","SSL Protocol":"TLS","Keystore Type":"PKCS12","Truststore Filename":"/opt/nifi/certs/truststore.p12","Keystore Filename":"/opt/nifi/certs/keystore.p12"},"propertyDescriptors":{"Truststore Type":{"name":"Truststore Type","displayName":"Truststore Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Protocol":{"name":"SSL Protocol","displayName":"TLS Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Keystore Type":{"name":"Keystore Type","displayName":"Keystore Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Truststore Filename":{"name":"Truststore Filename","displayName":"Truststore Filename","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}},"Keystore Password":{"name":"Keystore Password","displayName":"Keystore Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"key-password":{"name":"key-password","displayName":"Key Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Truststore Password":{"name":"Truststore Password","displayName":"Truststore Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"Keystore Filename":{"name":"Keystore Filename","displayName":"Keystore Filename","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"SINGLE","resourceTypes":["FILE"]}}},"controllerServiceApis":[{"type":"org.apache.nifi.ssl.SSLContextProvider","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.5.0"}},{"type":"org.apache.nifi.ssl.RestrictedSSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.5.0"}},{"type":"org.apache.nifi.ssl.SSLContextService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.5.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"905db770-acc0-328a-0000-00007b5d3977"},{"identifier":"12964880-10ce-33a5-93d5-581fe94652ee","instanceIdentifier":"ed7d693a-a8b5-3d40-9c4d-2d03d82a0665","name":"MapCacheServer","comments":"","type":"org.apache.nifi.distributed.cache.server.map.MapCacheServer","bundle":{"group":"org.apache.nifi","artifact":"nifi-distributed-cache-services-nar","version":"2.5.0"},"properties":{"Eviction Strategy":"Least Frequently Used","SSL Context Service":"1fa7aab3-ec7d-32ba-8001-0f1327095c5a","Persistence Directory":"/opt/nifi/data/cache/mongo_to_crdb","maximum-read-size":"1 MB","Port":"4557","Maximum Cache Entries":"10000"},"propertyDescriptors":{"Eviction Strategy":{"name":"Eviction Strategy","displayName":"Eviction Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Persistence Directory":{"name":"Persistence Directory","displayName":"Persistence Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"maximum-read-size":{"name":"maximum-read-size","displayName":"Maximum Read Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Port":{"name":"Port","displayName":"Port","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Cache Entries":{"name":"Maximum Cache Entries","displayName":"Maximum Cache Entries","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"905db770-acc0-328a-0000-00007b5d3977"},{"identifier":"3f36e242-c6be-3fdb-a815-ebb6c3c378c4","instanceIdentifier":"ad96e3e3-46cb-3080-a987-b7fed7a6c685","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.5.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"true","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.5.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"905db770-acc0-328a-0000-00007b5d3977"},{"identifier":"ae92e7c8-1c33-3b50-a3a9-b9cc478e6c8b","instanceIdentifier":"63685a26-da11-3a79-bb61-0bebadc43263","name":"DBCPConnectionPool Sample","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.5.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","Max Total Connections":"128","dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://192.168.106.3:26257/defaultdb?sslmode=verify-full&sslrootcert=/var/lib/postgresql/certs/ca.crt&ApplicationName=MongoDB-to-CRDB&reWriteBatchedInserts=true","dbcp-time-between-eviction-runs":"-1","Database User":"jonathan","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/opt/drivers/postgres/postgresql-jdbc.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","URL","FILE"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.5.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"905db770-acc0-328a-0000-00007b5d3977"},{"identifier":"7a850683-1eba-3bea-9102-6fe15429bc58","instanceIdentifier":"47f4c5b9-fc5a-3a8b-8090-c2cdfdb296ce","name":"AvroReader","comments":"","type":"org.apache.nifi.avro.AvroReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.5.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"schema-name":"${schema.name}","cache-size":"1000","schema-registry":null,"schema-access-strategy":"embedded-avro-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"cache-size":{"name":"cache-size","displayName":"Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.5.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"905db770-acc0-328a-0000-00007b5d3977"},{"identifier":"956d4bce-b347-376f-a3bf-dda9932cadb0","instanceIdentifier":"649c82f9-d53d-3b2c-9565-08fc40a5a739","name":"MapCacheServerNotify","comments":"","type":"org.apache.nifi.distributed.cache.server.map.MapCacheServer","bundle":{"group":"org.apache.nifi","artifact":"nifi-distributed-cache-services-nar","version":"2.5.0"},"properties":{"Eviction Strategy":"Least Frequently Used","SSL Context Service":null,"Persistence Directory":null,"maximum-read-size":"1 MB","Port":"4558","Maximum Cache Entries":"10000"},"propertyDescriptors":{"Eviction Strategy":{"name":"Eviction Strategy","displayName":"Eviction Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Persistence Directory":{"name":"Persistence Directory","displayName":"Persistence Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"maximum-read-size":{"name":"maximum-read-size","displayName":"Maximum Read Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Port":{"name":"Port","displayName":"Port","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Cache Entries":{"name":"Maximum Cache Entries","displayName":"Maximum Cache Entries","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"905db770-acc0-328a-0000-00007b5d3977"},{"identifier":"9e807d90-767c-3a91-8c0a-0209e078cfad","instanceIdentifier":"6de53da7-b22d-393a-9d10-aa9e59e7b8d2","name":"MapCacheClientService","comments":"","type":"org.apache.nifi.distributed.cache.client.MapCacheClientService","bundle":{"group":"org.apache.nifi","artifact":"nifi-distributed-cache-services-nar","version":"2.5.0"},"properties":{"SSL Context Service":"1fa7aab3-ec7d-32ba-8001-0f1327095c5a","Server Port":"4557","Server Hostname":"nifi-node-01","Communications Timeout":"30 secs"},"propertyDescriptors":{"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Server Port":{"name":"Server Port","displayName":"Server Port","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Server Hostname":{"name":"Server Hostname","displayName":"Server Hostname","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.distributed.cache.client.DistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.5.0"}},{"type":"org.apache.nifi.distributed.cache.client.AtomicDistributedMapCacheClient","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.5.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"905db770-acc0-328a-0000-00007b5d3977"},{"identifier":"7b943e4b-83c2-3488-b62c-ce2672f149eb","instanceIdentifier":"a57ef72e-917f-3f20-bf3a-d759fd13517f","name":"quick-test-001.orders","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.5.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"org.postgresql.Driver","dbcp-min-evictable-idle-time":"30 mins","Max Total Connections":"128","dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:postgresql://192.168.106.3:26257/shop?sslmode=verify-full&sslrootcert=%2Fvar%2Flib%2Fpostgresql%2Fcerts%2Fca.crt&ApplicationName=quick-test-001.orders&reWriteBatchedInserts=true&preferQueryMode=simple","dbcp-time-between-eviction-runs":"-1","Database User":"jonathan","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/opt/drivers/postgres/postgresql-jdbc.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["DIRECTORY","URL","FILE"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.5.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"905db770-acc0-328a-0000-00007b5d3977"},{"identifier":"f61030af-1c54-37fb-bd6b-2be5250146ba","instanceIdentifier":"a796320b-153d-30b5-8a15-52b812c79deb","name":"StandardHttpContextMap","comments":"","type":"org.apache.nifi.http.StandardHttpContextMap","bundle":{"group":"org.apache.nifi","artifact":"nifi-http-context-map-nar","version":"2.5.0"},"properties":{"Request Expiration":"1 min","Maximum Outstanding Requests":"5000"},"propertyDescriptors":{"Request Expiration":{"name":"Request Expiration","displayName":"Request Expiration","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Outstanding Requests":{"name":"Maximum Outstanding Requests","displayName":"Maximum Outstanding Requests","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.http.HttpContextMap","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.5.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"905db770-acc0-328a-0000-00007b5d3977"},{"identifier":"6b74bb58-5918-38cf-b6bc-556e4fe8585b","instanceIdentifier":"ce0b2c3d-a4a6-38fc-8005-63f95e539b39","name":"DBCPConnectionPoolLookup","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPoolLookup","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.5.0"},"properties":{"quick-test-001.orders":"7b943e4b-83c2-3488-b62c-ce2672f149eb","sample.orders":"ae92e7c8-1c33-3b50-a3a9-b9cc478e6c8b"},"propertyDescriptors":{"quick-test-001.orders":{"name":"quick-test-001.orders","displayName":"quick-test-001.orders","identifiesControllerService":true,"sensitive":false,"dynamic":true},"sample.orders":{"name":"sample.orders","displayName":"sample.orders","identifiesControllerService":true,"sensitive":false,"dynamic":true}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.5.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"905db770-acc0-328a-0000-00007b5d3977"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","componentType":"PROCESS_GROUP","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}